<footer class="row footer-section">
    <div style="width: 830px;" class="container">
        <div class="cf"></div>
        <div class="copyright-text fl">
            <b>&copy; UGLYMONA, Inc.</b> Copyright 2014-2015, English, U.S. All Rights Reserved.
        </div>
        <ul class="footer-menu fl">
            <li>
                <a href="#">Credits</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a href="#">Terms & Privacy</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a href="#">Safety Guides</a>
            </li>
        </ul>
        <div class="cf"></div>
    </div>
</footer>
<script src="<!--!asset_url('/js/build/all.min.js')!-->"></script>
