<div mona-navbar class="row nav-bar">
    <div class="container">
        <h1 class="top-logo-container fl">
            <a href="<!--!web_url('/')!-->" class="top-logo">Uglymona</a>
        </h1>
        <ul ng-cloak class="top-main-menu fl">
            <li>
                <a href="<!--!web_url('/')!-->">Home</a>
            </li>
            <li>/</li>
            <li id="rooms-menu" class="has-submenu">
                <a class="submenu-toggle" ng-click="roomsMenuVisible=!roomsMenuVisible" href="javascript:void(0);">Mona's Rooms</a>
                <ul ng-attr-class="{{roomsMenuVisible?'submenu magictime boingInUp visible':'submenu magictime boingOutDown'}}">
                    <span class="up-arrow"></span>
                    <li>
                        <a href="profile-wheel">Profile Wheel</a>
                    </li>
                    <li>
                        <a href="quest-bar">Quest Bar</a>
                    </li>
                    <li>
                        <a href="videos">Video Mingle</a>
                    </li>
                    <li>
                        <a href="letter-room">Letter Room</a>
                    </li>
                </ul>
            </li>
            <li>/</li>
            <li>
                <a href="blogs">Life Articles</a>
            </li>
        </ul>
        <div ng-cloak id="mobile-menu-container" style="margin:1px 0px 0px 5px;position:relative;overflow: visible;" class="fr">
            <a ng-click="mobileMenuVisible=!mobileMenuVisible" href="javascript:void(0);" class="menu-icon mobile-menu-toggle"></a>
            <a href="#" ng-click="sounds.on = !sounds.on" ng-attr-class="sprite sound-on {{sounds.on?'':'sound-off'}}"></a>
            <ul ng-attr-class="{{mobileMenuVisible?'mobile-menu submenu magictime boingInUp visible':'mobile-menu submenu magictime boingOutDown'}}">
                <span class="up-arrow"></span>

                <li ng-hide="user.isAuthenticated()">
                    <a href="login">Login</a>
                </li>
                <li ng-hide="user.isAuthenticated()">
                    <a href="signup">Signup</a>
                </li>
                <li>
                    <a href="profile-wheel">Profile Wheel</a>
                </li>
                <li>
                    <a href="quest-bar">Quest Bar</a>
                </li>
                <li>
                    <a href="videos">Video Mingle</a>
                </li>
                <li>
                    <a href="letter-room">Letter Room</a>
                </li>
                <li>
                    <a href="blogs">Life Articles</a>
                </li>
                <li ng-show="user.isAuthenticated()">
                    <a href="#" ng-click="showInbox()">Messages</a>
                </li>
                <li ng-show="user.isAuthenticated()">
                    <a href="profile/build">Edit Profile</a>
                </li>
                <li ng-show="user.isAuthenticated()">
                    <a ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <div ng-cloak ng-show="user.isAuthenticated()" class="user-header fr" id="current-user-header">
            <div ng-class="{'active':userMenuVisible}" class="toggle-btn" ng-click="userMenuVisible=!userMenuVisible">
                Welcome, {{user.display_name|limit:15}}
                <span class="user-header-icon">
                <img ng-src="{{user.profile.profile_pic}}">
                <span class="count">{{inbox.unreadCount}}</span>
            </span>
            </div>
            <ul ng-class="{'visible':userMenuVisible}" class="dropdown-menu">
                <li>
                    <a ng-href="users/{{user.id}}">View Profile</a>
                </li>
                <li>
                    <a href="profile/build">Edit Profile</a>
                </li>
                <li>
                    <a ng-click="showInbox()" href="#">Messages({{inbox.unreadCount}})</a>
                </li>
                <li>
                    <a href="#">Account Settings</a>
                </li>
                <li>
                    <a ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <ul ng-cloak no-anim ng-hide="user.access_token" class="top-main-menu fr">
            <li>
                <a href="login">Login</a>
            </li>
            <li>/</li>
            <li>
                <a href="signup">Signup</a>
            </li>
        </ul>
        <div class="cf"></div>
    </div>
</div>