@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Italic.woff') format('woff'),
         url('../fonts/Roboto-Italic.ttf') format('truetype'),
         url('../fonts/Roboto-Italic.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.eot');
    src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-BoldItalic.woff') format('woff'),
         url('../fonts/Roboto-BoldItalic.ttf') format('truetype'),
         url('../fonts/Roboto-BoldItalic.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto-think';
    src: url('../fonts/Roboto-Thin.eot');
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin.woff') format('woff'),
         url('../fonts/Roboto-Thin.ttf') format('truetype'),
         url('../fonts/Roboto-Thin.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.eot');
    src: url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-ThinItalic.woff') format('woff'),
         url('../fonts/Roboto-ThinItalic.ttf') format('truetype'),
         url('../fonts/Roboto-ThinItalic.svg#RobotoThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light.woff') format('woff'),
         url('../fonts/Roboto-Light.ttf') format('truetype'),
         url('../fonts/Roboto-Light.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-LightItalic.woff') format('woff'),
         url('../fonts/Roboto-LightItalic.ttf') format('truetype'),
         url('../fonts/Roboto-LightItalic.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto-Medium.ttf') format('truetype'),
         url('../fonts/Roboto-Medium.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.eot');
    src: url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-MediumItalic.woff') format('woff'),
         url('../fonts/Roboto-MediumItalic.ttf') format('truetype'),
         url('../fonts/Roboto-MediumItalic.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

*
{
	margin:0px;
	padding:0px;
}

body
{
	font-size:13px;
	font-family: 'Roboto';
	color:#418065;
	font-weight: 100;
}

img
{
	max-width:100%;height:auto;
}

.container
{
	max-width:595px;
	margin:0 auto;
}

.slide
{
	margin-bottom:3px;
	min-height:800px;
	position:relative;
	background-color:#fff;
}

.slider-inner
{
	padding: 40px;
	font-size: 35px;
}

.footer
{
	height:12px;
	background-color:#608f89;
	position:absolute;
	width:100%;
	bottom:0px;
}


/*==========      Responsive Css      ==========*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
  
.slide
	{
		margin-bottom:3px;
		min-height:550px;
		position:relative;
	}

.slider-inner
	{
		padding: 40px;
		font-size: 20px;
	}


}