<div class="blog-nav-container">
    <ul class="blog-nav">
        <li ng-repeat="category in vm.categories">
            <a ng-attr-class="{{vm.currentCategory===category.slag?'active':''}}" ng-href="blogs/category/{{category.slag}}">{{category.label}}</a>
        </li>
    </ul>
</div>