<span class="emo-picker">
    <button class="picker-button icon-emo-smile" ng-disabled="pkDisabled" href="#" ng-click="dropDownOpen=!dropDownOpen"></button>
    <div ng-show="dropDownOpen" class="emos-container">
        <ul class="emos-list">
            <li class="emo-item" ng-repeat="emo in emos">
                <a href="#" ng-attr-class="icon-emo-{{emo}}" ng-click="insertEmo(emo)"></a>
            </li>
        </ul>
    </div>
</span>