<div mona-popup visibility-condition="visible" no-footer max-width="500px" title="{{popupTitle}}">
    <div ng-show="activeTab==='threads'" class="inbox-tab" id="threads-tab">
        <div scroll-view max-height="520px" scrollbar-position="inside" class="messages-list-container">
            <ul class="messages-list">
                <li ng-repeat="conversation in latestConversations track by conversation.id">
                    <div ng-click="openConversation(conversation)" ng-attr-class='message-item clickable full {{conversation.lastMessage.isUnread?"unread":""}}'>
                        <div class="img-container">
                            <img ng-src="{{conversation.otherUser.profile.profile_pic}}"/>
                        </div>
                        <div class="msg-container">
                            <a href="javascript:void(0)" ng-click="conversation.lastMessage.sender.showProfile()" class="user-name silent-link">{{conversation.lastMessage.sender.display_name}}</a>
                            <span class="msg-date">{{conversation.lastMessage.age}}</span>

                            <div ng-bind-html="conversation.lastMessage.message|emos" class="msg">

                            </div>
                        </div>
                        <div class="cf"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="activeTab==='messages'" class="inbox-tab" id="messages-tab">
        <a class="blue-link" style="margin: 6px 0px 2px 0px;" href="javascript:void(0)" ng-click="goToMessages()">Back
            to messages</a>

        <div scroll-view max-height="350px" scroll-to="bottom" scrollbar-position="inside" class="messages-list-container">
            <ul class="messages-list">
                <li ng-repeat="msg in activeConversation.messages track by msg.id">
                    <div ng-attr-class='message-item {{msg.sender.id===msg.otherUser.id?"righty": "lefty"}}'>
                        <div class="img-container">
                            <img ng-src="{{msg.sender.profile.profile_pic}}"/>
                        </div>
                        <div class="msg-container">
                            <a href="#" ng-click="msg.sender.showProfile()" class="user-name silent-link">{{msg.sender.full_name}}</a>
                            <span class="msg-date">{{msg.age}}</span>

                            <div ng-bind-html='msg.message|emos' class="msg">
                            </div>
                        </div>
                        <div class="cf"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="inbox-reply-box" message-composer quick-mode receiver="activeConversation.otherUser"></div>
    </div>
    <div class="inbox-loader" ng-show="loaderVisible">
        <span class="loading-icon"></span>
    </div>
</div>
<div mona-popup visibility-condition="composeWindow.visible" no-footer max-width="600px" class="compose-window" on-close="composeWindow.msgSentNotice=false" title="Write A Message To {{otherUser.display_name|limit:15}}">
    <div class="alert-notice success" ng-show="composeWindow.msgSentNotice">
        Message sent successfully!
    </div>
    <div class="receiver-details fl">
        <div class="img-container">
            <img ng-src="{{otherUser.profile.profile_pic}}"/>
        </div>
    </div>
    <div class="inbox-reply-box fl" message-composer message-text="composeWindow.messageInput" on-message-sent="composeWindow.msgSentNotice=true" receiver="otherUser"></div>
    <div class="cf"></div>
</div>