<textarea ng-disabled="disableAll" ng-model="messageText" placeholder="Write your message.."></textarea>
<button ng-click="sendMessage()" ng-disabled="disableAll" class="mona-button ok-button fr">Send</button>
<span style="margin:11px" emo-picker pk-disabled="disableAll" class="fr"></span>
<div class="cf"></div>