<div class="select-container input select-initialized">
	<div ng-click="toggleDropdown()" class="select-label">{{label}}<span ng-show="selected&&dropdownOpen===false"> : {{selected.label}}</span><span ng-attr-class="arrow {{dropdownOpen?'up':'down'}}"></span></div>
	<ul ng-attr-class="{{dropdownOpen?'select-dropdown magictime boingInUp':'select-dropdown hidden'}}">
		<li ng-repeat="option in options"
			ng-click="setSelected(option)" ng-attr-class="{{option.value==selected.value?'selected':''}}">
		{{option.label}}
		</li>
	</ul>
</div>