<img class="noti-pic" ng-show="noti.pic" ng-src="{{noti.pic}}">
<div ng-show="noti.title" class="noti-title">
    {{noti.title}}
</div>
<div ng-show="noti.description" class="noti-description">
    {{noti.description}}
</div>
