<div ng-attr-style="max-width:{{maxWidth}}" class="mona-popup">
    <div class="mona-popup-inner">
        <div class="mona-popup-header">
            {{title}}
            <a class="mona-popup-cross" ng-hide="locked" href="javascript:void(0)" ng-click="selfHide()">x</a>
        </div>
        <div class="mona-popup-body" ng-transclude>

        </div>
        <div ng-hide="noFooter" class="mona-popup-footer">
            <button awe-button control-state="okButtonState" normal-action="onDone()" class="mona-button ok-button">{{okButtonLabel}}</button>
            <button ng-click="selfHide()" class="mona-button cancel-button">{{cancelButtonLabel}}</button>
        </div>
    </div>
</div>
