<div class="listing-tag">for more result scroll down your mouse</div>
<div scroll-view max-height="438px" class="list-view-container videoroom">
    <ul class="list-view">
        <li ng-repeat="video in vm.videos track by video.id" class="list-item">
            <div class="video-thumb">
                <div class="img-container">
                    <img ng-src="{{video.thumb.getUrl()}}"/>
                    <a ng-href="{{video.permalink}}" class="sprite play"></a>
                </div>
            </div>
        </li>
    </ul>
</div>