
@font-face {
    font-family: 'BentonSans';
    src: url('fonts/bentonsans-book-webfont.eot');
    src: url('fonts/bentonsans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bentonsans-book-webfont.woff2') format('woff2'),
         url('fonts/bentonsans-book-webfont.woff') format('woff'),
         url('fonts/bentonsans-book-webfont.ttf') format('truetype'),
         url('fonts/bentonsans-book-webfont.svg#bentonsansregular') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'BentonSans';
    src: url('fonts/bentonsans-black-webfont.eot');
    src: url('fonts/bentonsans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bentonsans-black-webfont.woff2') format('woff2'),
         url('fonts/bentonsans-black-webfont.woff') format('woff'),
         url('fonts/bentonsans-black-webfont.ttf') format('truetype'),
         url('fonts/bentonsans-black-webfont.svg#bentonsansregular') format('svg');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'BentonSans';
    src: url('fonts/bentonsans-bold-webfont.eot');
    src: url('fonts/bentonsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bentonsans-bold-webfont.woff2') format('woff2'),
         url('fonts/bentonsans-bold-webfont.woff') format('woff'),
         url('fonts/bentonsans-bold-webfont.ttf') format('truetype'),
         url('fonts/bentonsans-bold-webfont.svg#bentonsansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'BentonSans';
    src: url('fonts/bentonsans-regular-webfont.eot');
    src: url('fonts/bentonsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bentonsans-regular-webfont.woff2') format('woff2'),
         url('fonts/bentonsans-regular-webfont.woff') format('woff'),
         url('fonts/bentonsans-regular-webfont.ttf') format('truetype'),
         url('fonts/bentonsans-regular-webfont.svg#bentonsansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'BentonSans';
    src: url('fonts/bentonsans-light-webfont.eot');
    src: url('fonts/bentonsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bentonsans-light-webfont.woff2') format('woff2'),
         url('fonts/bentonsans-light-webfont.woff') format('woff'),
         url('fonts/bentonsans-light-webfont.ttf') format('truetype'),
         url('fonts/bentonsans-light-webfont.svg#bentonsansregular') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'BentonSans';
    src: url('fonts/bentonsans-medium-webfont.eot');
    src: url('fonts/bentonsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bentonsans-medium-webfont.woff2') format('woff2'),
         url('fonts/bentonsans-medium-webfont.woff') format('woff'),
         url('fonts/bentonsans-medium-webfont.ttf') format('truetype'),
         url('fonts/bentonsans-medium-webfont.svg#bentonsansregular') format('svg');
    font-weight: 500;
    font-style: normal;

}