/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-emo-angry {
  background-image: url(../images/emoticons.png);
  background-position: -30px 0px;
  width: 30px;
  height: 30px;
}
.icon-emo-blushing {
  background-image: url(../images/emoticons.png);
  background-position: 0px -90px;
  width: 30px;
  height: 30px;
}
.icon-emo-cheeky {
  background-image: url(../images/emoticons.png);
  background-position: 0px -30px;
  width: 30px;
  height: 30px;
}
.icon-emo-cool {
  background-image: url(../images/emoticons.png);
  background-position: -30px -30px;
  width: 30px;
  height: 30px;
}
.icon-emo-crying {
  background-image: url(../images/emoticons.png);
  background-position: -60px 0px;
  width: 30px;
  height: 30px;
}
.icon-emo-devil {
  background-image: url(../images/emoticons.png);
  background-position: -60px -30px;
  width: 30px;
  height: 30px;
}
.icon-emo-flower {
  background-image: url(../images/emoticons.png);
  background-position: 0px -60px;
  width: 30px;
  height: 30px;
}
.icon-emo-giggle {
  background-image: url(../images/emoticons.png);
  background-position: -30px -60px;
  width: 30px;
  height: 30px;
}
.icon-emo-inlove {
  background-image: url(../images/emoticons.png);
  background-position: -60px -60px;
  width: 30px;
  height: 30px;
}
.icon-emo-laugh {
  background-image: url(../images/emoticons.png);
  background-position: -90px 0px;
  width: 30px;
  height: 30px;
}
.icon-emo-love {
  background-image: url(../images/emoticons.png);
  background-position: -90px -30px;
  width: 30px;
  height: 30px;
}
.icon-emo-makeup {
  background-image: url(../images/emoticons.png);
  background-position: -90px -60px;
  width: 30px;
  height: 30px;
}
.icon-emo-nerd {
  background-image: url(../images/emoticons.png);
  background-position: 0px 0px;
  width: 30px;
  height: 30px;
}
.icon-emo-party {
  background-image: url(../images/emoticons.png);
  background-position: -30px -90px;
  width: 30px;
  height: 30px;
}
.icon-emo-pirate {
  background-image: url(../images/emoticons.png);
  background-position: -60px -90px;
  width: 30px;
  height: 30px;
}
.icon-emo-rofl {
  background-image: url(../images/emoticons.png);
  background-position: -90px -90px;
  width: 30px;
  height: 30px;
}
.icon-emo-sad {
  background-image: url(../images/emoticons.png);
  background-position: -120px 0px;
  width: 30px;
  height: 30px;
}
.icon-emo-sealed {
  background-image: url(../images/emoticons.png);
  background-position: -120px -30px;
  width: 30px;
  height: 30px;
}
.icon-emo-sleepy {
  background-image: url(../images/emoticons.png);
  background-position: -120px -60px;
  width: 30px;
  height: 30px;
}
.icon-emo-smile {
  background-image: url(../images/emoticons.png);
  background-position: -120px -90px;
  width: 30px;
  height: 30px;
}
.icon-emo-smoking {
  background-image: url(../images/emoticons.png);
  background-position: 0px -120px;
  width: 30px;
  height: 30px;
}
.icon-emo-surprised {
  background-image: url(../images/emoticons.png);
  background-position: -30px -120px;
  width: 30px;
  height: 30px;
}
.icon-emo-wait {
  background-image: url(../images/emoticons.png);
  background-position: -60px -120px;
  width: 30px;
  height: 30px;
}
.icon-emo-wink {
  background-image: url(../images/emoticons.png);
  background-position: -90px -120px;
  width: 30px;
  height: 30px;
}
.icon-emo-worried {
  background-image: url(../images/emoticons.png);
  background-position: -120px -120px;
  width: 30px;
  height: 30px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-emo-angry {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-blushing {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-cheeky {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-cool {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-crying {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-devil {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-flower {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-giggle {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-inlove {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-laugh {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-love {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-makeup {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-nerd {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-party {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-pirate {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-rofl {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-sad {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-sealed {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-sleepy {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-smile {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-smoking {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-surprised {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-wait {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-wink {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
  .icon-emo-worried {
    background-image: url(../images/emoticons@2x.png);
    background-size: 150px 150px;
  }
}
