
@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-black-webfont.eot');
    src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-black-webfont.woff2') format('woff2'),
         url('fonts/lato-black-webfont.woff') format('woff'),
         url('fonts/lato-black-webfont.ttf') format('truetype'),
         url('fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-hairlineitalic-webfont.eot');
    src: url('fonts/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('fonts/lato-hairlineitalic-webfont.woff') format('woff'),
         url('fonts/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-hairline-webfont.eot');
    src: url('fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-hairline-webfont.woff2') format('woff2'),
         url('fonts/lato-hairline-webfont.woff') format('woff'),
         url('fonts/lato-hairline-webfont.ttf') format('truetype'),
         url('fonts/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bold-webfont.eot');
    src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bolditalic-webfont.eot');
    src: url('fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/lato-bolditalic-webfont.woff') format('woff'),
         url('fonts/lato-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-italic-webfont.eot');
    src: url('fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-italic-webfont.woff2') format('woff2'),
         url('fonts/lato-italic-webfont.woff') format('woff'),
         url('fonts/lato-italic-webfont.ttf') format('truetype'),
         url('fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-light-webfont.eot');
    src: url('fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff'),
         url('fonts/lato-light-webfont.ttf') format('truetype'),
         url('fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-heavy-webfont.eot');
    src: url('fonts/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-heavy-webfont.woff2') format('woff2'),
         url('fonts/lato-heavy-webfont.woff') format('woff'),
         url('fonts/lato-heavy-webfont.ttf') format('truetype'),
         url('fonts/lato-heavy-webfont.svg#latoheavy') format('svg');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-lightitalic-webfont.eot');
    src: url('fonts/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/lato-lightitalic-webfont.woff') format('woff'),
         url('fonts/lato-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: 200;
    font-style: italic;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-medium-webfont.eot');
    src: url('fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-medium-webfont.woff2') format('woff2'),
         url('fonts/lato-medium-webfont.woff') format('woff'),
         url('fonts/lato-medium-webfont.ttf') format('truetype'),
         url('fonts/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-mediumitalic-webfont.eot');
    src: url('fonts/lato-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/lato-mediumitalic-webfont.woff') format('woff'),
         url('fonts/lato-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-mediumitalic-webfont.svg#latomedium_italic') format('svg');
    font-weight: 600;
    font-style: italic;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-semibold-webfont.eot');
    src: url('fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-semibold-webfont.woff2') format('woff2'),
         url('fonts/lato-semibold-webfont.woff') format('woff'),
         url('fonts/lato-semibold-webfont.ttf') format('truetype'),
         url('fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-semibolditalic-webfont.eot');
    src: url('fonts/lato-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-semibolditalic-webfont.woff2') format('woff2'),
         url('fonts/lato-semibolditalic-webfont.woff') format('woff'),
         url('fonts/lato-semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/lato-semibolditalic-webfont.svg#latosemibold_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'LatoThin';
    src: url('fonts/lato-thin-webfont.eot');
    src: url('fonts/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-thin-webfont.woff2') format('woff2'),
         url('fonts/lato-thin-webfont.woff') format('woff'),
         url('fonts/lato-thin-webfont.ttf') format('truetype'),
         url('fonts/lato-thin-webfont.svg#latothin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'LatoThin';
    src: url('fonts/lato-thinitalic-webfont.eot');
    src: url('fonts/lato-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-thinitalic-webfont.woff2') format('woff2'),
         url('fonts/lato-thinitalic-webfont.woff') format('woff'),
         url('fonts/lato-thinitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-thinitalic-webfont.svg#latothin_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}