@media (max-width: 1024px) {
    .container {
        width: 94%;
    }

    .landing-slider-container {
        width: 74%;
        margin-left: auto;
        margin-right: auto;
    }

    .slider-control-left {
        left: -52px;
    }

    .slider-control-right {
        right: -54px;
    }

    .login-column.two {
        display: none;
    }

    .login-column.one {
        float: none;
        margin: auto;
    }

    .mona-room-slogan {
        width: 80%;
        background-size: 100% auto;
    }

    .single-video-container .video-details {
        width: 455px;
        height: 258px;
        margin-top: 33px;
    }

    .slogan-title.monaroom {
        font-size: 35px;
    }
    .users-list-container.quest-bar{
        width: 690px;
        margin: 40px auto;
    }
    .list-view-container.videoroom{
        width: 690px;
        margin: 40px auto 100px auto;
    }
    .list-view-container.photoslist{
        width: 690px;
        margin: 40px auto 100px auto;
    }
}

@media (max-width: 900px) {
    .user-header, .top-main-menu {
        display: none;
    }

    .mobile-menu-toggle {
        display: inline-block;
    }

    .main-form-container.monaroom {
        width: 92%;
    }

    .single-video-container .video-details {
        width: 420px;
        height: 241px;
        margin-top: 40px;
    }

    .wheel-page-title {
        display: none;
    }

    .blog-room-slogan {
        width: 100%;
        background-size: 100% auto;
    }

    .slogan-title.blogs {
        bottom: 100px;
        font-size: 30px;
    }

    .blog-nav li {
        padding: 0px 5px;
    }

    .blog-nav li a {
        font-size: 20px;
        padding: 5px 5px;
    }
    .slogan-title.upgrade-page{
        font-size: 35px;
    }
}

@media (max-width: 850px) {
    .landing-welcome-text, .register-slogan-container {
        width: 100%;
        background-size: 100% auto;
    }

    .main-form-container.videoroom {
        width: 90%;
        margin: auto;
    }

    .vd-col-2 {
        display: none;
        float: none;
    }

    .vd-col-1 {
        float: none;
        width: 100%;
        margin: auto;
    }

    .vd-col-3 {
        float: none;
        width: 100%;
        margin: auto;
    }

    .single-video-container .video-details {
        width: 376px;
        height: 243px;
        margin-top: 40px;
    }

    .slogan-title.wheel {
        font-size: 30px;
    }

    .header-section.general {
        height: 250px;
    }

    .header-section.general.singlevid {
        height: 388px;
    }

    .header-section.landing {
        height: 330px;
    }

    .register-slogan {
        font-size: 28px;
    }

    .slogan-title {
        font-size: 26px;
    }
    .slogan-title.upgrade-page{
        font-size: 26px;
        bottom: 35px;
    }
    .cf.content-title-fix {
        height: 74px;
    }

    .content-title.text, .content-title {
        font-size: 26px !important;
    }

    .blogpage-title {
        height: 70px;
        line-height: 72px;
        font-size: 25px;
    }

    .slogan-title.monaroom {
        font-size: 30px;
        bottom: 25px;
    }

    .slogan-title.questbar {
        display: none;
    }

    .searchbar-container {
        margin-top: 30px;
    }
}
@media(max-width:870px){
    .header-section.general.profile-page{
        height: 350px;
    }
    .profile-page .user-thumb.full {
        margin: 60px 0px 0px;
    }
    .profile-page .user-thumb .info .line1{
        font-size: 14px;
    }
    .profile-page .user-thumb .info .line2{
        font-size: 20px;
    }
    .profile-page .user-thumb .info .line3{
        font-size: 19px;
    }
     .profile-page .user-thumb .pp {
        width: 90px;
    }
    .profile-page .user-thumb .pp img {
        width: 60px;
        height: 60px;
    }
    .profile-page .user-qualities{
        margin: 3px 0px;
    }
    .profile-page .user-about{
        margin: 3px 0px;
    }
    .profile-page .profile-nav-container {
        position: absolute;
        bottom: 4px;
    }
    .main-form-container.payment{
        width: 400px;
    }
    .pay-col-1{
        width: 100%;
        float:none;
    }
    .pay-col-2{
        width: 100%;
        float:none;
    }
}

@media (max-width: 800px) {
    .footer-section .container {
        width: 90% !important;
        overflow: hidden;
    }

    .footer-menu {
        display: none;
    }

    .copyright-text {
        float: none;
    }

    .build-profile-slogan {
        display: none;
    }

    .mona-room-slogan {
        display: none;
    }

    .video-room-slogan {
        display: none;
    }

    .list-view-container.videoroom {
        margin: 20px auto 100px auto;
    }

    .list-view-container.singlevideopage {
        display: none;
    }

    .add-video-button {
        display: inline-block;
    }

    .content-title-fix.videoroom {
        display: none;
    }

    .listing-tag {
        display: none;
    }

    .header-section.common {
        height: 60px;
    }

    .content-title.login {
        display: none;
    }

    .content-title.signup {
        display: none;
    }

    .content-title.build {
        display: none;
    }

    .content-title.monaroom {
        display: none;
    }

    .content-title.videoroom {
        display: none;
    }

    .single-video-container .user-details {
        padding-top: 32px;
        padding-left: 0px;
        padding-bottom: 13px;
        /*float: none;*/
        /*width: 90%;*/
    }

    .profile-nav.single-video-page {
        /*display: none;*/
    }

    .single-video-container .video-details {
        /*width: 100%;*/
        /*height: 365px;*/
        margin-top: 1px;
    }
    .main-content-section.single-vid .cf.content-title-fix{
        display:none;
    }
    .blogpage .header-section.common {
        height: 299px;
    }

    .blog-nav li {
        padding: 0px 5px;
    }

    .blog-nav li a {
        font-size: 17px;
        padding: 5px 5px;
    }

    .mona-popup {
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0px auto;
        overflow: auto;
    }
}

@media (max-width: 768px) {
    .list-view-container {
        width: 97%;
    }

    .searchbar-container {
        width: 100%;
    }

    .slogan-title.monaroom img {
        display: none;
    }

    .slogan-title.blogs {
        bottom: 100px;
        font-size: 25px;
    }
    .single-video-container .video-details{
        width: 310px;
    }
    .profile-page .profile-nav li a, .profile-page .profile-nav li .botton{
        padding: 3px;
    }
}
@media(max-width: 700px){
    .users-list-container.quest-bar{
        width: 400px;
    }
    .list-view-container.videoroom, .list-view-container.photoslist {
        width: 100%;
    }
    .list-view-container.videoroom .list-item, .list-view-container.photoslist .list-item {
        width: 95%;
    }
    .list-view-container.videoroom .list-item .img-container, .list-view-container.photoslist .list-item .img-container{
        height: 400px;
    }
    .single-video-container .user-details{
        display:none;
    }
    .single-video-container .video-details {
        width: 90%;
        height: 89%;
        float: none;
        margin: auto;
    }
}
@media (max-width: 640px) {
    .list-view .list-item {
        width: 94%;
    }

    .landing-welcome-text {
        margin: 27px auto 0px;
        height: 277px;
    }

    .mona-notice {
        display: none;
    }

    .slogan-title {
        font-size: 23px;
    }
    .slogan-title.upgrade-page{
        font-size: 23px;
    }
    .register-slogan {
        display: none;
    }

    .slogan-title.monaroom {
        font-size: 22px;
        bottom: 28px;
    }

    .slogan-title.videoroom {
        bottom: 40px;
    }

    .content-section-landing {
        height: 385px;
    }
    .landing-slider-container {
        margin-top: 50px;
    }
    .mainsearchbar{
        width: 300px;
    }
}

@media (max-width: 600px) {
    .mobile-menu-toggle {
        margin: 0px 4px;
    }

    .mobile-menu.submenu {
        width: 140px;
    }

    .register-slogan-container, .landing-register-btn {
        display: none;
    }


    .wheel-page .header-section {
        height: 414px;
    }

    .wheel-profile-data h5 {
        margin: 10px 0px 0px;
    }

    .wheel-profile-data ul {
        margin: 0px;
    }

    .wheel-profile-data ul li {
        margin: 0px;
    }
    .advanceoptbtn{
        display:none;
    }
    .add-video-button{
        margin: 26px 0px 0px 5px;
        padding: 7px 0px!important;
    }
    .slogan-title.upgrade-page{
        font-size: 21px;
    }
}

@media (max-width: 500px) {
    .mona-popup-header {
        position: fixed;
        width: 100%;
        padding: 7px 0px 4px;
        text-indent: 14px;
        z-index: 100;
        left: 0;
        top: 0;
        border-radius: 0px;
    }

    .mona-popup-body {
        padding-top: 28px;
    }

    .mona-popup-cross {
        right: 13px;
    }
    .list-view-container.videoroom .list-item .img-container{
        height: 300px;
    }
    .list-view-container.photoslist .list-item .img-container{
        height: 300px;
    }
    .profile-page .user-qualities{
        font-size: 14px;
    }
    .profile-page .user-about{
        font-size: 15px;
    }
    .profile-page .profile-nav li a, .profile-page .profile-nav li .botton{
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .login-column.one {
        width: 95%;
    }

    .main-form-container {
        width: 95%;
    }

    div[class^="build-step-"] {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

    .single-letter-view .col-1 {
        display: none;
    }

    .single-letter-view .col-2 {
        width: 100%;
        float: none;
    }

    textarea.input {
        width: 92%;
        font-size: 15px;
    }

    .btn.purple {
        width: 266px;
    }

    .main-form-container.monaroom {
        font-size: 16px;
    }

    .single-video-container .user-thumb .line1 {
        font-size: 15px;
    }

    .single-video-container .user-thumb .line2 {
        font-size: 20px;
    }

    .single-video-container .user-thumb .line3 {
        font-size: 17px;
    }

    .single-video-container .user-thumb .pp {
        width: 80px;
    }

    .single-video-container .user-thumb .pp img {
        width: 60px;
        height: 60px;
    }

    .wheel-page .header-section {
        height: 314px;
    }

    .wheel-page .main-content-section {
        min-height: 390px;
    }

    .wheel-nav-button {
        font-size: 14px;
        padding: 0px 3px;
    }

    .blogpage-title {
        background-size: 92% auto;
    }

    .mona-app .wheel-page .header-section {
        height: 240px;
    }

    .header-section.landing {
        height: 270px;
    }

    .header-section.general {
        height: 200px;
    }

    .slogan-title {
        font-size: 16px;
        bottom: 55px;
    }
    .slogan-title.upgrade-page{
        font-size: 16px;
    }
    .slogan-title.wheel {
        font-size: 18px;
    }

    .cf.content-title-fix {
        height: 64px;
    }

    .content-title.text, .content-title {
        font-size: 20px !important;
    }

    .blogpage-title {
        height: 60px;
        line-height: 62px;
        font-size: 20px;
    }

    .slogan-title.blogs {
        bottom: 100px;
        font-size: 20px;
    }

    .slogan-title.videoroom {
        bottom: 26px;
    }

    .blog-nav li {
        padding: 0px 2px;
    }

    .blog-nav li a {
        font-size: 16px;
        padding: 5px 5px;
    }

    .searchbar-container {
        margin-top: 10px;
        background: none;
    }

    .mainsearchbar {
        background: white;
        position: absolute;
        top: 77px;
        left: 0px;
        height: 69px;
        width: 100%;
        text-indent: 15px;
        border-radius: 4px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    }

    .mainsearchbutton {
        right: 7px;
    }
    .compose-window .img-container{
        width: 60px;
        height: 60px;
    }
    .main-form-container.payment{
        width: 90%;
        padding-bottom: 30px;
    }
}
@media(max-width: 450px){
    .message-item.full .msg-container {
        width: 70%;
    }
    .users-list-container.quest-bar{
        width: 90%;
    }
    .list-view-container.videoroom .list-item .img-container{
        height: 200px;
    }
    .profile-page .user-about{
        height: 60px;
    }
    .profile-page .user-thumb .pp {
        width: 82px;
    }
    .list-view-container.photoslist .list-item .img-container{
        height: 200px;
    }
    .slogan-title.upgrade-page{
        font-size: 15px;
        bottom: 37px;
    }
}
@media (max-width: 360px) {
    .slogan-title.registration {
        font-size: 14px;
    }

    .slogan-title.monaroom {
        font-size: 19px;
        bottom: 20px;
    }

    .mi-profile-view img {
        width: 120px;
        height: 120px;
    }
    .compose-window .img-container{
        width: 50px;
        height: 50px;
    }
    .slogan-title.upgrade-page{
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .wheel-page .header-section {
        height: 255px;
    }

    .wheel-page .main-content-section {
        min-height: 333px;
    }
}