#main-wrapper {
    width: 100%;
    margin: auto;
    max-width: 1920px;
}

body {
    background: #AAAAAA;
    font-family: 'PT Sans', sans-serif;
}

.row {
    width: 100%;
}

.header-section {
}

.mobile-only {
    display: none;
}

.header-section.landing {
    height: 507px;
    background: url(../images/landing-header.jpg) no-repeat scroll center bottom;
}

.header-section > .top-content {
    height: 100%;
}

.header-section > .top-content > .container {
    height: 100%;
}

.container {
    position: relative;
    width: 1040px;
    margin: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (triggers hasLayout) */
.cf {
    *zoom: 1;
}

.top-logo {
    display: inline-block;
    width: 198px;
    height: 43px;
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat;
}

.top-logo-container {
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    background: url(../images/stripe.png) repeat-x left top;
    padding: 8px 0px 0px;
    font-size: 18px;
    color: #fff;
}

.mona-app .nav-bar {
    position: absolute;
    z-index: 10000;
}

.mona-app #main-wrapper {
    min-height: 600px;
    background-color: #530e8f;
}

.top-main-menu li {
    display: inline;
    list-style-type: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0px 7px 0px 0px;
}

.top-main-menu {
    padding: 0px;
    margin: 12px 0px 0px 20px;
}

.top-main-menu li a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

.top-main-menu li a:hover {
    color: #cab1ee;
}

.top-main-menu li.has-submenu {
    position: relative;
    overflow: visible;
}

ul.submenu {
    position: absolute;
    top: 132%;
    left: -10%;
    display: none;
    width: 150px;
    background: #342169;
    z-index: 100000;
    margin: 0px;
    padding: 7px 0px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

ul.submenu.visible {
    display: block;
}

ul.submenu .up-arrow {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #342169 transparent;
    top: -10px;
    left: 60px;
}

ul.submenu li {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.submenu li a {
    display: block;
    padding: 7px 15px;
    font-size: 15px;
}

ul.submenu li a:hover {
    background: #fff;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .3s ease;
}

a:hover, a:focus, a:visited, a:active {
    text-decoration: underline;
    border: none;
    outline: none;
}

.hidden {
    display: none !important;
    transition: all .3s ease;
}

.user-header {
    color: inherit;
    cursor: default;
    position: relative;
}

.user-header .toggle-btn {
    position: relative;
    z-index: 2000;
    transition: all .3s ease-in-out;
    padding: 1px 5px 1px 10px;
}

.user-header .toggle-btn.active {
    background: none repeat scroll 0% 0% rgb(52, 33, 105);
    transition: all .2s ease-in-out;
}

.user-header-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 10px;
    position: relative;
}

.user-header-icon img {
    width: 43px;
    height: 43px;
    border-radius: 100px;
}

.user-header-icon .count {
    position: absolute;
    top: 2px;
    left: -4px;
    background: #6f0191;
    font-family: inherit;
    font-size: 10px;
    font-weight: bold;
    display: block;
    width: 16px;
    height: 14px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.landing-welcome-text {
    text-indent: -99999px;
    width: 806px;
    height: 163px;
    margin: 230px auto 0px auto;
    background: url(../images/landing-slogan.png) no-repeat center center;
}

.mona-app .landing-welcome-text {
    margin-top: 292px;
}

.landing-divider-arrow {
    display: block;
    width: 88px;
    height: 88px;
    background: url(../images/arrow.png);
    margin: auto;
    cursor: default;
}

.landing-register-btn {
    position: absolute;
    top: 34px;
    right: 0px;
    width: 184px;
    height: 41px;
    background: url(../images/register-btn.png) no-repeat;
}

.landing-register-btn:hover {
    background-image: url(../images/register-btn-hover.png);
}

.landing-page-divider {
    position: absolute;
    bottom: -40px;
    width: 100%;
    z-index: 1000;
}

.register-slogan-container {
    width: 976px;
    height: 74px;
    margin: 65px auto 0px auto;
    text-indent: -99999px;
    background: url(../images/slogan-register.png) no-repeat;
}

.content-section-landing {
    height: 530px;
    background: url(../images/landing-bottom.jpg) no-repeat scroll center top;
}

ul.landing-slider {
    margin-top: 0px;
}

.landing-slider-item {
    text-align: center;
    width: 220px;
    display: inline-block;
    list-style-type: none;
    margin2: 0px 165px 0px 0px;
    padding: 0px 0px 5px 0px;
}

.landing-slider-item h2 {
    color: #1c54a0;
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    margin: 6px 0px;
    padding: 0px;
}

.landing-slider-item .see-more-btn {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    color: #6f0191;
}

.landing-slider-item .see-more-btn:hover {
    border-bottom: 1px solid #6f0191;
}

.landing-slider-container {
    position: relative;
    margin: 40px 0px 0px 0px;
}

.landing-slider-container .bx-viewport {
    box-shadow: none !important;
    border: none !important;
    left: 0px;
    background: none;
}

.slider-control-left {
    display: inline-block;
    width: 44px;
    height: 88px;
    background: url(../images/left-arrow.png);
    position: absolute;
    top: 75px;
    left: -44px;
}

.slider-control-right {
    display: inline-block;
    width: 44px;
    height: 88px;
    background: url(../images/right-arrow.png);
    position: absolute;
    top: 70px;
    right: -74px;
}

.footer-section {
    background: #d7dcdd;
    color: #373535;
    text-align: center;
    padding: 13px 0px;
    font-size: 14.5px;
}

.copyright-text {

}

.footer-menu {
    margin: 0px 0px 0px 10px;
    padding: 0px;
}

.footer-menu li {
    display: inline;
    list-style-type: none;
    font-size: 13px;
    margin: 0px 2px 0px 3px;
}

.footer-menu li a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

.footer-menu li a:hover {
    text-decoration: underline;
}

.header-section.common {
    height: 507px;
    background: url(../images/common-header.jpg) no-repeat scroll center bottom;
    position: relative;
    z-index: 1;
}

.header-section.general {
    height: 410px;
    background: url(../images/common-header.jpg) no-repeat scroll center bottom;
    position: relative;
    z-index: 1;
}

.blogpage .header-section {
    height: 320px;
}

.build-profile-slogan {
    text-indent: -99999px;
    width: 754px;
    height: 122px;
    background: url(../images/build-slogan.png) no-repeat center center;
    margin: 200px auto 0px auto;
}

.mona-app .build-profile-slogan {
    margin-top: 260px;
}

.main-content-section {
    min-height: 632px;
    background: url(../images/content-bg.jpg) no-repeat scroll center top;
    position: relative;
    margin: -97px 0px 0px;
    z-index: 0;
}

.blogpage .main-content-section {
    margin: 0px 0px 0px;
    background-image: url(../images/blog-bottom-bg.jpg);
    background-position: top left;
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
}

.main-content-section.general {
    margin: 0px !important;
}

.main-content-section.general.fixed-bg {
    background-attachment: fixed;
    background-size: cover;
    /*background-repeat: repeat-y;*/
    position: static !important;
}

.main-content-section.general.fixed-bg .container {
    background: transparent;
}

.content-title {
    text-align: center;
    font-family: Lato;
    color: #feffff;
    font-size: 40px;
    font-weight: 100;
    text-indent: -99999px;
    height: 37px;
    margin: 60px auto 0px auto;
}

.content-title.text {
    font-weight: 300;
    text-indent: 0;
    height: auto;
    font-size: 35px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    margin-top: 20px !important;
}

.content-title.login {
    width: 398px;
    background: url(../images/login-title.png) no-repeat;
}

.cf.content-title-fix {
    margin: 0px 0px 0px 0px;
    height: 98px;
}

.cf.content-title-fix.full {
    background: url(../images/separator.png) no-repeat center bottom;
}

.login-column.one {
    width: 374px;
    padding: 60px 5px 5px 5px;
    margin: 0px 100px 0px 90px;
}

.login-column h3 {
    color: #feffff;
    font-weight: 300;
    font-family: Lato;
    margin: 0px 0px 20px 3px;
    padding: 0px;
    font-size: 22px;
}

.login-column h3 a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
}

.login-column.two {
    width: 425px;
    padding: 62px 5px 5px 5px;
    margin: 0px 30px 0px 0px;
}

.login-column.two h3 {
    margin-left: 0px;
}

.login-column.two p {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin: 6px 0px;
}

.login-column.two p.small {
    font-size: 15px;
    margin: 10px 0px;
}

.input::-webkit-input-placeholder {
    color: #FFF;
}

.input:-moz-placeholder {
    color: #FFF;
    opacity: 1;
}

.input::-moz-placeholder {
    color: #FFF;
    opacity: 1;
}

.input:-ms-input-placeholder {
    color: #FFF;
}

.input {
    /*background: url(../images/input-background.png) no-repeat;*/
    /*background-size: 100% 100%;*/
    /*border: none;*/
    background: rgba(0, 40, 40, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    border-left: none;
    border-radius: 4px;
    outline: none;
    text-indent: 20px;
    padding: 12px 0px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin: 8px 0px;
    color: #fff;
}

select.input {
    background-image: url(../images/select-background.png);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input:focus {
    outline: none;
}

.input:required {
    outline: none;
}

.input:required:focus {
    outline: none;
}

.btn {
    border: none;
    outline: none;
    text-align: center;
    display: inline-block;
    box-shadow: none;
    transition: 200ms ease;
}

a.btn {
    text-decoration: none;
}

.btn:hover {
    transition: 200ms ease;
}

.btn.primary {
    width: 100%;
    padding: 10px 0px;
    font-weight: 400;
    font-size: 15px;
    margin: 8px 0px;
    color: #fff;
    background: url(../images/btn-bg.png) no-repeat;
    background-size: 100% 100%;
    transition: 200ms ease;
}

.btn.primary.bold {
    font-weight: 500;
    font-size: 18px;
    width: 97%;
    margin: 8px 1.5%;
}

.btn.primary:hover {
    background-image: url(../images/btn-bg-hover.png);
    transition: 200ms ease;
}

.btn.primary.disabled:hover {
    background-image: url(../images/btn-bg.png);
    cursor: default;
}

.form-extra {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0px 0px 0px;
}

.main-form-container .form-extra {
    font-size: 17px;
    margin: 7px 0px;
}

input[type="checkbox"] {
    border: none;
    outline: none;
    vertical-align: middle;
    width: 20px;
    height: 15px;
}

.content-title.signup {
    background: url(../images/signup-title.png) no-repeat;
    width: 398px;
}

.main-form-container {
    width: 460px;
    margin: auto;
}

.form-title {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    margin: 10px 0px 8px 0px;
}

.form-title.error {
    color: #E0D428;
}

.form-title.success {
    color: #2AC14B;
}

.content-title.build {
    background: url(../images/build-title.png) no-repeat;
    width: 463px;
}

.progress-bar {
    width: 100%;
    height: 17px;
    background: url(../images/progress-bar-bg.png);
    background-color: #fff;
    background-size: 100% 100%;
    position: relative;
    margin: 40px 0px 15px 0px;
}

.progress-bar.hidden {
}

.progress-bar .indicator {
    display: block;
    width: 0%;
    height: 100%;
    background: url(../images/indicator.png);
    background-size: 100% 100%;
    background-color: #5cb85c;
    transition: width .3s ease-out;
}

.progress-bar .status-text {
    position: absolute;
    top: 0px;
    left: 10%;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: all .3s ease-out;
}

.select-container select option {
    color: #333;
    text-indent: 0px;
    border: none;
    outline: none;
    background: #fff;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon.down-arrow {
    background: url(../images/down-arrow.png) no-repeat;
    width: 5px;
    height: 9px;
}

.circle-photo-holder {
    width: 164px;
    height: 163px;
    background: url(../images/photo-holder.png) no-repeat;
    overflow: hidden;
    border-radius: 100px;
    margin: 30px auto 10px auto;
}

.circle-photo-holder img {
    width: 148px;
    height: 147px;
    border: 8px solid transparent;
    border-radius: 100px;
}

.select-container {
    /*border: none;*/
    overflow: hidden;
    /*background-image: url(../images/select-background.png);*/
    padding: 0px;
    text-indent: 0px;
}

.select-container select {
    width: 110%;
    color: inherit;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    margin: 0px;
}

@-moz-document url-prefix() {
    .select-container select {
        text-indent: 8px;
    }
}

.select-container select:focus {
    outline: none;
}

.user-thumb.full {
    margin: 118px 0px 0px 0px;
    width: 100%;
}

.user-thumb .pp img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    border: 4px solid #fff;
    outline: none;
    box-shadow: none;
    overflow: hidden;
    background: white;
}

.user-thumb .pp {
    width: 100px;
}

.user-thumb .info {
    color: #fff;
}

.user-thumb .info p {
    margin: 0px 0px;
}

.user-thumb .info .line1 {
    color: #d2b2ff;
    font-size: 17px;
    font-weight: 400;
}

.user-thumb .info .line2 {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
}

.user-thumb .info .line3 {
    font-family: Lato;
    font-weight: 300;
    font-size: 22px;
}

.user-qualities {
    color: #e3d0fe;
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0px;
}

.user-qualities .item {
    margin: 0px 18px 0px 18px;
}

.user-qualities > .item:first-child {
    margin-left: 0px;
}

.user-qualities > .item:last-child {
    margin-right: 0px;
}

.user-about {
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    line-height: 21px;
    margin: 18px 0px;
    height: 82px;
    overflow: hidden;
}

.profile-nav-container {
    marign: 0px 0px 0px -5px;
}

.profile-nav {
    margin: 0px;
    padding: 0px;
}

.profile-nav li {
    display: inline-block;
    list-style-type: none;
}

.profile-nav li a, .profile-nav li .botton {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin: 0px 10px 0px 0px;
    line-height: normal;
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    margin: 0px 0px 0px 7px;
    background: none;
    outline: none;
    border: none;
}

.profile-nav > li:last-child .botton {
    margin-right: 0px;
}

.profile-nav li .sprite {
    margin: -1px 3px 0px;
    vertical-align: middle;
}

.profile-nav li .botton[disabled] {
    cursor: default;
}

.profile-nav li .botton[disabled]:hover {
    background: transparent;
}

.profile-nav li .botton:hover {
    background: rgba(0, 0, 0, .3);
}

.profile-nav li a:hover, .profile-nav li a:visited, .profile-nav li a:active, .profile-nav li a:focus {
    text-decoration: none;
}

.connections-title {
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 40px;
    color: #fff;
    margin: 21px 0px 0px 0px;
}

.listing-tag {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}

.loading-indicator-group {
    width: 180px;
    margin: 20px auto 0px auto;
}

.loading-indicator {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.05;
    margin: auto;
}

.loading-indicator.first {
    animation: loader_anim 3s 0s infinite;
    -moz-animation: loader_anim 3s 0s infinite;
    -webkit-animation: loader_anim 3s 0s infinite;
    -o-animation: loader_anim 3s 0s infinite;
}

.loading-indicator.second {
    animation: loader_anim 3s .5s infinite;
    -moz-animation: loader_anim 3s .5s infinite;
    -webkit-animation: loader_anim 3s .5s infinite;
    -o-animation: loader_anim 3s .5s infinite;
}

.loading-indicator.third {
    animation: loader_anim 3s 1s infinite;
    -moz-animation: loader_anim 3s 1s infinite;
    -webkit-animation: loader_anim 3s 1s infinite;
    -o-animation: loader_anim 3s 1s infinite;
}

.loading-indicator.fourth {
    animation: loader_anim 3s 1.5s infinite;
    -moz-animation: loader_anim 3s 1.5s infinite;
    -webkit-animation: loader_anim 3s 1.5s infinite;
    -o-animation: loader_anim 3s 1.5s infinite;
}

.loading-indicator.fifth {
    animation: loader_anim 3s 2s infinite;
    -moz-animation: loader_anim 3s 2s infinite;
    -webkit-animation: loader_anim 3s 2s infinite;
    -o-animation: loader_anim 3s 2s infinite;
}

.users-list-container.quest-bar {
    margin-top: 40px;
}

.users-list-item, .list-item {
    display: inline-block;
    list-style-type: none;
    width: 326px;
    margin: 0px 0px;
    padding: 7px 7px 5px 7px;
    cursor: default;
    /*background: rgba(0, 0, 0, .1);*/
    transition: .3s ease-in-out;
}

.videoroom .list-item, .photoslist .list-item {
    background: rgba(0, 0, 0, .1);
}

.users-list-item {
    margin: 2px;
}

.users-list-item:hover, .list-item:hover {
    background: #744FC7;
    transition: .3s ease-in-out;
}

.users-list-item a, .list-item a {
    cursor: default;
}

.users-list-item a:hover, .list-item a:hover {
    text-decoration: none;
}

.users-list-item .info .line1 {
    color: #51266d;
    font-family: Lato;
    font-weight: 700;
}

.users-list-item .info .line3 {
    color: #51266d;
    font-weight: 400;
    font-size: 20px;
}

.users-list-item .info .line2 {
    font-weight: 400;
    font-family: Lato;
    font-size: 20px;
    color: #dedede;
}

.users-list, .list-view {
    margin: 0px;
    padding: 0px;
}

.users-list.lost {
    -moz-animation: listHideAnim 1500ms 0s;
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 1.000, 0.805); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.935, -0.220, 1.000, 0.805);
    -moz-transition-timing-function: cubic-bezier(0.935, -0.220, 1.000, 0.805);
    -o-transition-timing-function: cubic-bezier(0.935, -0.220, 1.000, 0.805);
    transition-timing-function: cubic-bezier(0.935, -0.220, 1.000, 0.805);
}

@-moz-keyframes listHideAnim {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1
    }
    40% {
        transform: matrix(1, 0, 0, 1, -400, 0);
        opacity: .8
    }
    60% {
        transform: matrix(1, 0, 0, 1, -600, 0);
        opacity: .54
    }
    100% {
        transform: matrix(1, 0, 0, 1, -1000, 0);
        opacity: 0;
    }
}

.users-list-item .pp {
    width: 90px;
}

.users-list-item .pp img {
    width: 65px;
    height: 65px;
    opacity: .9;
}

.mona-room-slogan {
    width: 916px;
    height: 190px;
    background: url(../images/letter-room-slogan.png) no-repeat;
    margin: 70px auto 0px auto;
    text-indent: -99999px;
}

.mona-app .mona-room-slogan {
    margin-top: 130px;
}

.content-title.monaroom {
    width: 468px;
    height: 30px;
    background: url(../images/monaroom-title.png) no-repeat;
    margin: 126px auto 0px auto;
}

.main-form-container.monaroom {
    width: 830px;
    margin: auto;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}

textarea.input {
    width: 100%;
    height: 180px;
    text-indent: 0px;
    padding: 11px;
    /*background-image: url(../images/textarea-bg.png);*/
    background: rgba(0, 40, 40, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    border-left: none;
    border-radius: 4px;
    resize: none;
}

.monatextarealabel {
    display: block;
    margin: 50px 0px 10px 3px;
}

.letterfooter {
    display: block;
    text-align: right;
}

.btn.purple {
    background: url(../images/btn-purple.png) no-repeat 100% 100%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 20px;
    width: 310px;
    background-size: 100% 100%;
}

.btn.purple:hover, button[disabled].btn.purple {
    background-image: url(../images/btn-purple-hover.png);
}

.mona-notice {
    margin: 15px 0px;
    width: 70%;
    text-align: right;
}

.video-room-slogan {
    width: 859px;
    height: 126px;
    background: url(../images/video-room-slogan.png) no-repeat;
    margin: 90px auto 165px auto;
    text-indent: -999999px;
}

.mona-app .video-room-slogan {
    margin-top: 150px;
}

.content-title.videoroom {
    width: 604px;
    height: 49px;
    background: url(../images/video-room-title.png) no-repeat 0px center;
    margin: 0px auto 0px auto;
    text-indent: 0;
}

.content-title.videoroom a {
    font-size: 34px;
    color: #d7dcdd;
    font-family: Lato;
    font-weight: 300;
    display: block;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.content-title.videoroom a:hover, .content-title.videoroom a.active {
    text-decoration: none;
    color: white;
}

.content-title.videoroom a.active {
    cursor: default;
}

.main-form-container.videoroom {
    width: 830px;
    margin: auto;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}

.videoroombigtext {
    font-size: 20px;
    margin: 30px 0px 20px 0px;
}

.vd-col-1 {
    width: 310px;
}

.vd-col-2 {
    width: 200px;
    height: 180px;
    background: url(../images/big-arrow-right.png) no-repeat 60px 20px;
}

.vd-col-3 {
    width: 310px;
}

.search-room-slogan {
    text-indent: -99999px;
    width: 948px;
    height: 125px;
    background: url(../images/search-slogan.png) no-repeat;
    margin: 70px auto 0px auto;
    position: relative;
    z-index: 1;
}

.mona-app .search-room-slogan {
    margin-top: 130px;
}

.searchbar-container {
    width: 742px;
    height: 197px;
    background: url(../images/search-bar-bg.png) no-repeat;
    margin: -65px auto 0px auto;
    position: relative;
    z-index: 0;
}

.advanceoptbtn {
    position: absolute;
    bottom: 20px;
    right: 0px;
    text-decoration: underline;
    color: white;
    font-weight: 400;
}

.mainsearchbar {
    background: none;
    position: absolute;
    top: 91px;
    left: 160px;
    font-size: 20px;
    font-weight: 500;
    height: 45px;
    width: 560px;
    border: none;
    outline: none;
    color: #4e4e4e;
}

.mainsearchbutton {
    position: absolute;
    top: 85px;
    right: 12px;
    width: 58px;
    height: 56px;
    text-indent: -99999px;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    background: url(../images/small-btn.png) no-repeat;
    transition: 300ms ease;
}

.mainsearchbutton:hover, .mainsearchbutton.pending, .mainsearchbutton.active {
    background-image: url(../images/small-btn-hover.png);
    transition: 300ms ease;
}

.mainsearchbar::-webkit-input-placeholder {
    color: #4e4e4e;
    opacity: 0.5;
    font-size: 70%;
    font-style: italic;
}

.mainsearchbar:-moz-placeholder {
    color: #4e4e4e;
    opacity: 0.5;
    font-size: 70%;
    font-style: italic;
}

.mainsearchbar::-moz-placeholder {
    color: #4e4e4e;
    opacity: 0.5;
    font-size: 70%;
    font-style: italic;
}

.mainsearchbar:-ms-input-placeholder {
    color: #4e4e4e;
    opacity: 0.5;
    font-size: 70%;
    font-style: italic;
}

.content-title.searchroom {
    text-indent: 0px;
    font-family: Lato;
    font-size: 40px;
    margin: 40px auto 0px auto;
}

.blog-room-slogan {
    width: 871px;
    height: 83px;
    text-indent: -99999px;
    margin: 90px auto 0px auto;
    background: url(../images/blog-slogan.png) no-repeat;
}

.mona-app .blog-room-slogan {
    margin-top: 150px;
}

.widesep {
    width: 100%;
    height: 2px;
    background: url(../images/separator.png) no-repeat center bottom;
}

.blogpage-title {
    /*text-indent: -9999px;*/
    height: 100px;
    font-family: Lato;
    font-size: 35px;
    line-height: 100px;
    font-weight: 300;
    text-align: center;
    color: #4B1F65;
    text-shadow: 0px 1px 0px rgba(75, 31, 116, 0.5);
    /*background: url(../images/blog-title.png) no-repeat center center;*/
}

.blog-post {
    text-align: center;
    margin: 40px 0px;
    font-size: 23px;
    color: #3f3f3f;
}

.blog-date {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #4b1f65;
}

.blog-date .sprite {
    margin-right: 10px;
    vertical-align: text-bottom;
}

.blog-title {
    font-family: Lato;
    font-size: 35px;
    color: #4b1f65;
    font-weight: 300;
    margin: 10px 0px;
}

.blog-content {
    font-size: 20px;
    color: #4C4C56;
    margin: 15px auto;
    width: 100%;
    font-weight: 300;
}

.blog-author {
    color: #4b1f65;
    cursor: default;
    text-decoration: none;
}

.read-more-btn {
    border: 1px solid #4b1f65;
    display: inline-block;
    padding: 4px 20px;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #4b1f65;
}

.read-more-btn:hover {
    background: #4b1f65;
    border: 1px solid #4b1f65;
    color: #fff;
    text-decoration: none;
}

.smallsep {
    width: 100%;
    height: 3px;
    background: url(../images/small-sep.png) no-repeat center center;
}

.dropdown-menu {
    position: absolute;
    right: 0px;
    z-index: -1;
    display: none;
    float: left;
    width: 100%;
    font-size: 15px;
    text-align: left;
    list-style: outside none none;
    background-color: rgb(52, 33, 105);
    top: 0%;
    opacity: 0;
    margin: 0px;
    padding: 0px 0px 5px;
}

.dropdown-menu.visible-add {
    display: block;
    transition: all .2s ease-in-out;
}

.dropdown-menu.visible-add.visible-add-active, .dropdown-menu.visible, .dropdown-menu.visible-remove {
    display: block;
    top: 100%;
    opacity: 1;
    z-index: 1000;
    transition: opacity .1s ease-in-out .05s, top .3s ease-in-out .03s;
}

.dropdown-menu.visible-remove.visible-remove-active {
    top: 0%;
    opacity: 0;
}

.dropdown-menu > li > a {
    display: block;
    padding: 5px 23px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #fff;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #F5F5F5;
}

.build-step-container {
    position: relative;
}

div[class^="build-step-"] {
    width: 460px;
    z-index: 10000;
}

.wheel-page {
    background: url(../images/wheel-background.jpg) no-repeat scroll center top;
    max-height: 1043px;
}

.wheel-page-title {
    width: 848px;
    height: 74px;
    background: url(../images/wheel-slogan.png) no-repeat;
    margin: 45px auto 0px auto;
}

.mona-app .wheel-page-title {
    margin-top: 0px;
}

.footer-section .container {
    overflow: hidden;
}

.wheel-page .main-content-section {
    background: url(../images/stripe.png) repeat-x left top;
    margin: 0px;
    min-height: 500px;
    max-height: 530px;
    position: relative;
    z-index: 30;
}

.wheel-page .header-section {
    height: 506px;
    background: url(../images/wheel-header.jpg) no-repeat scroll center top;
}

.mona-app .wheel-page .header-section {
    height: 418px;
    padding-top: 88px;
}

.profile-wheel-container {
    width: 650px;
    height: 650px;
    margin: auto;
    position: absolute;
    top: -325px;
    left: 0px;
    right: 0px;
    font-size: 18px;
}

.wheel-bottom-layer {
    width: 100%;
    height: 100%;
    background: url(../images/wheel-bottom-layer-full.png) no-repeat;
    background-size: 100% 100%;
    margin: 0px;
    overflow: hidden;
    position: relative;
    z-index: 20;
}

.wheel-menu-items-wrapper {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.wheel-bottom-layer.active {
    background-image: url('../images/wheel-bottom-layer-active.png');
}

.wheel-top-layer {
    width: 100%;
    height: 100%;
    background: url(../images/wheel-top-layer.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

#wheel-menu-items {
    margin: 4% 0px 0px 4%;
}

#wheel-top-layer-title {
    position: absolute !important;
    top: 14.6%;
    left: 15.5%;
    z-index: 10;
}

#wheel-most-top-layer, #wheel-user-details-layer {
    position: absolute !important;
    top: 24.2%;
    left: 24.2%;
    z-index: 20;
    background: url(../images/wheel-half-circle.png) no-repeat center bottom;
    width: 52.1%;
    height: 52.1%;
    border-radius: 100%;
    background-size: 100% 100%;
    transform-origin: center center;
}

#wheel-user-details-layer {
    background: url(../images/user-layer-bg.png) no-repeat center bottom;
    background-size: 100% auto;
}

#wheel-most-top-layer.ng-hide-add, #wheel-user-details-layer.ng-hide-add {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: swashOut;
}

#wheel-most-top-layer.ng-hide-remove, #wheel-user-details-layer.ng-hide-remove {
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    animation-name: swashIn;
}

.wheel-profile-data {
    text-align: center;
    height: 70.4%;
    overflow: hidden;
    font-size: 1.1em;
}

.wheel-profile-data h5 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-weight: 500;
    font-size: 110%;
    text-transform: lowercase;
    color: #77a0c0;
    margin: 6% 0px 7px;
}

.wheel-profile-data h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-weight: 400;
    font-size: 105%;
    text-transform: uppercase;
    color: #4b1f65;
}

.wheel-profile-data ul {
    margin: 10px 0px 0px;
    padding: 0;
}

.wheel-profile-data ul li {
    margin: 0px 0px 5px;
    list-style-type: none;
    font-size: 100%;
    color: #4b1f65;
    font-weight: 400;
}

.wheel-button-msg {
    position: absolute;
    bottom: 8.7%;
    left: 32.4%;
}

.wheel-button-photos {
    position: absolute;
    bottom: 10%;
    right: 32.4%;
}

.wheel-icon {
    display: inline-block;
    position: absolute;
    width: 17.6%;
    height: 17.6%;
    border: none;
    background: none;
    outline: none;
}

.wheel-icon.tick {
    background: url(../images/right_icon.png) no-repeat;
    background-size: 100% 100%;
    width: 24.1%;
    bottom: 17.4%;
    left: 18.2%;
}

.wheel-icon.cross {
    background: url(../images/cross_icon.png) no-repeat;
    width: 16.4%;
    height: 16.4%;
    background-size: 100% 100%;
    bottom: 17.5%;
    right: 23.5%;
}

.sprite.play {
    background: url(../images/play_icon.png) no-repeat;
    width: 70px;
    background-size: 100% auto;
    height: 70px;
    top: 0px;
    left: 0px;
}

.wheel-icon.spin {
    background: url(../images/spin_icon.png) no-repeat;
    width: 20.5%;
    background-size: 100% 100%;
    height: 20.5%;
    top: 13.8%;
    left: 40%;
    transform-origin: center center;
    transition: .3s ease;
}

.wheel-icon.spin:hover {
    transform: rotate(90deg);
    transition: .3s ease;
    outline: none;
}

.wheel-icon.spin:active, .wheel-icon.spin:visited, .wheel-icon.spin:enabled, .wheel-icon.spin:focus {
    outline: none;
}

.wheel-icon.disabled, .wheel-icon[disabled] {
    opacity: 0.5;
    cursor: default;
}

.wheel-start-spin-text {
    position: absolute;
    top: 13.8%;
    left: 30%;
    text-decoration: none;
    color: #f42ac9;
    font-size: 3.22em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 3px 6px #333;
    background: none;
    outline: none;
    border: none;
}

.wheel-start-spin-text:hover, .wheel-start-spin-text:active {
    text-decoration: none;
}

.wheel-start-spin-text.disabled, .wheel-start-spin-text[disabled] {
    opacity: 0.5;
    cursor: default;
    text-decoration: none;
}

.wheel-user-pic-container {
    position: absolute;
    width: 32.3%;
    height: 32.3%;
    z-index: 10;
}

.wheel-user-pic-container .angled-arrow {
    display: block;
    position: absolute;
    top: 57%;
    left: 24%;
    width: 39px;
    z-index: 10;
    height: 31px;
    background: url(../images/arrow-angled.png) no-repeat;
}

.wheel-user-pic-container.ng-hide-add {
    transition: 0.3s ease-in;
}

.wheel-user-pic-container.ng-hide-add.ng-hide-add-active, .wheel-user-pic-container.ng-hide-remove {
    top: 0px;
    right: 0px;
}

.wheel-user-pic-container.ng-hide-remove {
    transition: 0.3s ease-out;
}

.wheel-user-pic-container, .wheel-user-pic-container.ng-hide-remove.ng-hide-remove-active {
    top: -6%;
    right: -4%;
}

.wheel-user-pic-container.ng-hide-remove .angled-arrow {
    top: 60%;
    left: 10%;
    transition: 0.2s ease-out 0.2s;
}

.wheel-user-pic-container.ng-hide-remove.ng-hide-remove-active .angled-arrow {
    top: 57%;
    left: 24%;
}

.wheel-user-pic-container .pic-holder {
    /*background: #ec1ed6;*/
    background: #8a55b1;
    width: 95%;
    height: 95%;
    border-radius: 200px;
    padding: 2.5%;
    position: relative;
    z-index: 1;
}

.wheel-user-pic-container .pic-holder img {
    width: 99%;
    height: 99%;
    border-radius: 200px;
    border: 1px solid #6d2480;
    border-color: #6c2782;
}

.wheel-user-pic-container .wheel-cross-btn {
    display: block;
    position: absolute;
    top: 14px;
    right: 19px;
    top: 9%;
    right: 5%;
    width: 15%;
    height: 14.9%;
    z-index: 10;
    background: url(../images/cross_symbol.png) no-repeat;
    background-size: 100% 100%;
}

.lukano-wheel {
    top: 89px !important;
    left: -233px !important;
    transition: .5s ease;
}

.select-initialized {
    position: relative;
    overflow: visible;
}

.select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 10px 0px 10px 0px;
    width: 100%;
    background: rgba(90, 53, 174, 1);
    z-index: 1000;
}

.select-dropdown li {
    list-style-type: none;
    padding: 5px 10px 5px 10px;
    cursor: default;
}

.select-dropdown li:hover, .select-dropdown li.active {
    background-color: #342169;
}

.select-label {
    width: 100%;
    height: 44px;
    text-indent: 20px;
    line-height: 44px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.build-completed-message {
    font-size: 25px;
    font-family: Lato;
    font-weight: 300;
    text-align: center;
    color: white;
}

.form-notice {
    font-size: 20px;
    font-weight: 300;
}

.form-notice.info {

}

.form-notice.error {
    color: #FFAF04;
    transition: .3s ease-in-out;
}

.form-notice.success {
    color: #74AC15;
    transition: .3s ease-in-out;
}

.add-video-button {
    margin: 10px 0px 0px;
    display: none;
    width: 200px !important;
}

.single-video-container {
    height: 350px;
    width: 100%;
    margin: 65px auto 25px auto;
}

.single-video-container .user-details {
    padding-top: 55px;
    padding-left: 40px;
}

.single-video-container .video-details {
    width: 580px;
    height: 326px;
}

.profile-nav.single-video-page {
    padding: 15px 10px 0px 30px;
}

.profile-nav.single-video-page li {
    display: block;
}

.profile-nav.single-video-page li a {
    text-decoration: none;
    cursor: default;
    display: block;
    padding: 7px 13px;
    font-size: 21px;
    transition: .5s;
}

.profile-nav.single-video-page li a .sprite {
    margin-right: 11px;
    vertical-align: middle;
    margin-top: 0px;
}

.profile-nav.single-video-page li a:hover {
    background: rgba(52, 33, 105, .7);
    border-radius: 4px;
    transition: .5s;
}

.grid-item {
    float: left;
    margin: 2px 2px 2px 2px;
}

.video-thumb .img-container, .photo-thumb .img-container {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.video-thumb .img-container img, .photo-thumb .img-container img {
    width: 100%;
    min-height: 100%;
}

.video-thumb .img-container .sprite.play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.list-item {
    margin: 2px 2px 4px 2px;
}

.letter-list-item {
    background: none;
    width: 100%;
    height: auto;
}

.letter-list-item:hover {
    background: none;
}

.single-letter-view {
    max-width: 600px;
    margin: 0px auto;
    background: #C1B2E4;
    padding: 20px;
    color: #333;
    line-height: 26px;
    font-size: 15px;
}

.single-letter-view .col-1 {
    width: 20%;
    text-align: center;
    padding: 10px 0px 0px;
}

.single-letter-view .col-1 .user-pic {
    max-width: 80%;
    width: 110px;
    height: auto;
    max-height: 200px;
}

.single-letter-view .col-1 .user-link {
    font-size: 14px;
    cursor: pointer;
    color: #333;
}

.single-letter-view .col-2 {
    width: 76%;
}

/*experimental*/
.single-letter-view .col-1 {
    display: none;
}

.single-letter-view .col-2 {
    width: 100%;
}

.letter-reply-view {
    background: rgba(129, 92, 213, .5);
    padding: 6px 14px;
    font-size: 15px;
    margin: 13px 0px 0px;
}

.wheel-nav-buttons {
    max-width: 612px;
    margin: 0px auto;
    position: relative;
    width: 100%;
    z-index: 2000;
}

.wheel-nav-button {
    color: #4b1f65;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 8px;
    transition: .5s ease-in-out;
    background: none;
    border: none;
    outline: none;
}

button[disabled] {
    opacity: 0.5;
}

.wheel-nav-button .sprite {
    margin: 0px 14px;
}

.wheel-nav-button:hover {
    transition: .5s ease-in-out;
    text-decoration: none;
}

.wheel-nav-button:visited, .wheel-nav-button:active, .wheel-nav-button:focus {
    text-decoration: none;
}

.wheel-nav-button .sprite {
    vertical-align: middle;
}

.btn.disabled {
    opacity: .5;
}

.anim-duration1 {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

@keyframes flashOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes flashOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.anim-flashOut {
    -webkit-animation: flashOut 0.5s linear 1;
    -moz-animation: flashOut 0.5s linear 1;
    animation: flashOut 0.5s linear 1;
    opacity: 0;
}

@keyframes flashIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flashIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.anim-flashIn {
    -webkit-animation: flashIn 0.5s linear 1;
    -moz-animation: flashIn 0.5s linear 1;
    animation: flashIn 0.5s linear 1;
    opacity: 1;
}

.wheel-matching-text {
    color: #f42ac9;
    font-size: 3.89em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 3px 6px #333;
    margin: 6.4% 0px 0px 0px;
}

.wheel-matching-text small {
    display: block;
    font-size: .5em;
    line-height: .7em;
}

.wheel-nav-button.disabled {
    opacity: .5;
    cursor: default;
}

.menu-icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url(../images/menu-icon.png) no-repeat;
    background-size: 42px 42px;
}

.mobile-menu-toggle {
    display: none;
    margin: 0px 9px;
}

.mobile-menu.submenu {
    left: -39%;
    width: 150px;
}

.mobile-menu.submenu li a {
    text-decoration: none;
}

.freeze {
    overflow: hidden;
    filter: blur(5px);
}

.freeze-overlay {
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

body.freeze {
    overflow: hidden;
    filter: none;
}

body.freeze #main-wrapper {
    filter: blur(5px);
}

.mona-popup-container {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    z-index: 90000;
    background: none repeat scroll 0% 0% rgba(83, 43, 163, 0.5);
}

.mona-popup-container.popup-visible {
    display: block;
}

.mona-popup {
    display: block;
    background: white;
    max-width: 760px;
    margin: 100px auto 80px auto;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    position: relative;
    opacity: 1;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}

.mona-popup-inner {
    padding: 7px 7px;
}

.mona-popup-container.popup-visible-add {

}

.mona-popup-container.popup-visible-remove-active {
    display: block !important;
    -webkit-transition: .1s linear .2s;
    -moz-transition: .1s linear .2s;
    -ms-transition: .1s linear .2s;
    -o-transition: .1s linear .2s;
    transition: .1s linear .2s;
}

.mona-popup-container.popup-visible-add .mona-popup {
    margin-top: 0px;
    opacity: 0;
}

.mona-popup-container.popup-visible-remove-active .mona-popup {
    margin-top: 0px;
    opacity: 0;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.mona-popup-header {
    background-color: rgb(92, 53, 174);
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    border-radius: 3px;
}

.mona-popup-cross {
    float: right;
    font-size: 20px;
    top: -5px;
    position: relative;
    font-weight: normal;
}

.mona-popup-body {
    padding: 5px 4px;
    font-size: 15px;
}

.users-list-item.ng-move,
.users-list-item.ng-enter,
.users-list-item.ng-leave {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.users-list-item.ng-leave.ng-leave-active,
.users-list-item.ng-move,
.users-list-item.ng-leave,
.users-list-item.ng-enter {
    opacity: 0;
}

.users-list-item.ng-move.ng-move-active,
.users-list-item.ng-enter.ng-enter-active {
    opacity: 1;
}

.ng-hide-add.ng-hide-add-active,
.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ng-hide, .ng-hide-add-active {
    opacity: 0;
}

.paired-line.ng-hide-remove {
    display: none;
    -webkit-transition: 0.01s linear;
    -moz-transition: 0.01s linear;
    -ms-transition: 0.01s linear;
    -o-transition: 0.01s linear;
    transition: 0.01s linear;
}

.mona-popup-footer {
    text-align: right;
    padding: 8px 0px;
}

.mona-popup-footer .mona-button {
    margin: 0px 5px;
}

.mona-button {
    backgound: white;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 13px;
    line-height: 36px;
    text-decoration: none;
    outline: none;
    border: none;
    z-index: 2;
    border-radius: 2px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    transition-property: box-shadow;
    transition-duration: 0.2s;
    color: #333;
}

.mona-button:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.mona-button.pending, .mona-button.active {
    cursor: default;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.mona-button.pending {
    cursor: wait;
}

.mona-button.active:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}

.mona-button.ok-button {
    background-color: #744EC6;
    color: #ffffff;
}

.form-field {
    line-height: 40px;
    max-height: 45px;
    margin: 5px 0px;
}

.form-field .field-label {
    width: 40%;
    vertical-align: middle;
    line-height: inherit;
    word-wrap: break-word;
    text-indent: 14px;
}

.form-field .field-control {
    width: 60%;
    vertical-align: middle;
    line-height: inherit;
}

.form-field .field-control input[type="text"], .form-field .field-control .new-input {
    width: 96%;
    height: auto;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 2px 2px !important;
    outline: none;
    border: 1px solid #ccc;
    text-indent: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .3);
    transition: 0.2s ease-out;
    line-height: 35px !important;
}

.form-field .field-control input[type="text"]:focus, .form-field .field-control .new-input:focus {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
    transition: 0.2s ease-in;
}

.awesome-text-input {
    background: white;
    border-radius: 2px;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
    transition-property: box-shadow;
    transition-duration: 0.2s;
    border: none;
    outline: none;
    text-indent: 10px;
    transition: 0.3s ease-in;
}

.awesome-text-input:focus {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-out;
}

.wrap-dd-select {
    width: 80%;
    padding: 0px 10px;
    border-radius: 2px;
    min-height: 40px;
}

.wrap-dd-select .dropdown li a {
    padding: 0px 10px;
}

.wrap-dd-select .dropdown {
    z-index: 10000;
}

.mona-page-loader {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 900000;
}

.loading-icon {
    display: block;
    width: 128px;
    height: 128px;
    background: url(../images/loader.png) no-repeat;
}

.mona-page-loader .loading-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.mona-page-loader.hidden {
    display: none;
}

.header-arrow-down {
    width: 100%;
    height: 15px;
    display: block;
    position: absolute;
    bottom: -15px;
    z-index: 1000;
    background: url(../images/arrow-bottom.png) no-repeat center center;
}

.main-content-section .content-title {
    margin: 23px auto auto;
}

.seperator-bg {
    background: url(../images/seperator-bg.png) no-repeat;
}

#toaster {
    width: 300px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 100000;
}

.noti-toast-container {
    display: none;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
    color: #333;
    /*position: fixed;*/
    /*bottom: 10px;*/
    /*right: 20px;*/
    margin: 10px 20px 10px 10px;
    min-height: 50px;
    max-height: 70px;
    border-radius: 3px;
    cursor: default;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.noti-toast-container:hover {
    background: rgba(255, 255, 255, 1);
}

.noti-toast-container.visible-add {
    display: block;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.noti-toast-container.visible-add.visible-add-active, .noti-toast-container.visible, .noti-toast-container.visible-remove {
    display: block;
    opacity: 1;
}

.noti-toast-container.visible-remove {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.noti-toast-container.visible-remove.visible-remove-active {
    opacity: 0.1;
}

.noti-pic {
    width: 50px;
    height: 50px;
    float: left;
    margin: 2px 5px 5px 2px;
}

.noti-title {
    color: #222;
    font-size: 14px;
}

.noti-description {
    font-size: 13px;
    color: #505050;
}

.notice-empty {
    font-size: 24px;
    text-align: center;
    padding: 18px;
    color: white;
}

.inbox-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
}

.inbox-loader .loading-icon {
    margin: auto;
}

.messages-list {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 10px;
}

.silent-link {
    color: inherit;
    text-decoration: none;
}

ul.messages-list li {
    list-style-type: none;
}

.message-item {
    margin: 0px;
    border-bottom: 1px solid #dedede;
    cursor: default;
    padding: 8px;
}

.message-item.clickable:hover {
    background: rgba(222, 222, 222, .5);
}

.messages-list > li:last-child .message-item {
    /*border-bottom: none;*/
}

.message-item .img-container {
    float: left;
    max-width: 100px;
    min-height: 61px;
}

.message-item .img-container img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.message-item.full .img-container img {
    width: 60px;
    height: 60px;
}

.message-item .msg-container {
    float: left;
    width: 68%;
    margin-left: 24px;
    text-align: left;
}

.message-item.full .msg-container {
    width: 80%;
}

.message-item .user-name {
    font-size: 14px;
    color: #222222;
}

.message-item .msg-date {
    color: #4e4e4e;
    font-size: 13px;
    margin-left: 2px;
}

.message-item .msg {
    font-size: 14px;
    color: #404040;
    margin: 5px 0px 10px 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.message-item.unread .msg {
    color: #222;
    font-weight: bold;
}

.message-item.righty .img-container {
    float: right;
}

.message-item.righty .msg-container {
    float: right;
    margin-left: 0px;
    margin-right: 21px;
}

.blue-link {
    display: inline-block;
    color: #2e82d4;
    font-weight: 500;
}

.inbox-reply-box {
    width: 70%;
    margin: 10px auto;
}

.inbox-reply-box textarea {
    width: 100%;
    background: whitesmoke;
    border: none;
    resize: none;
    padding: 10px;
    border-radius: 3px;
}

.inbox-reply-box .mona-button {
    margin: 9px -18px 0px 0px;
}
.inbox-tab{
    min-height: 520px;
    max-height: 520px;
}
.inbox-tab.ng-hide-add, .inbox-tab.ng-hide {
    display: none;
    transition:none;
}
.inbox-tab.ng-hide-add.ng-hide-add-active{
    transition:none;
}
.inbox-tab.ng-hide-remove {
    display: block;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.inbox-tab.ng-hide-remove.ng-hide-remove-active, .inbox-tab {
    opacity: 1;
}

.blog-page-sep {
    height: 2px;
    width: 100%;
    background: url(../images/blog-sep.jpg);
}

.blog-pdf-container {
    width: 100%;
    height: auto;
    min-height: 850px;
    border: none;
    outline: none;
    background: transparent;
    overflow: hidden;
}

.blog-nav-container {
    margin: 34px 0px 0px 0px;
    position: absolute;
    bottom: 14px;
    width: 100%;
}

.blog-nav {
    margin: 0;
    padding: 0;
    text-align: center;
}

.blog-nav li {
    display: inline;
    list-style-type: none;
    padding: 0px 10px;
    border-left: 2px solid white;
}

.blog-nav li:first-child {
    border-left: none;
}

.blog-nav li a {
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    display: inline-block;
}

.blog-nav li a:hover, .blog-nav li a.active {
    text-decoration: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
}

a:visited, a:focus, a:active {
    text-decoration: none;
}

.mi-profile-view {
    padding: 10px 20px 10px 20px;
    position: relative;
}

.mi-profile-view img {
    float: right;
    border: 3px solid #543fa5;
    background: white;
    max-width: 160px;
    max-height: 160px;
    margin: 10px 5px 10px 15px;
}

.mi-profile-view hr {
    visibility: hidden;
    margin: 3px 0px;
}

br.extra-space {
    margin: 5px 0px;
}

.mi-profile-view .buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.mi-profile-view-container .mona-popup-footer {
    display: none;
}

.slogan-title {
    font-size: 40px;
    font-family: Lato;
    font-weight: 300;
    color: white;
    text-shadow: 0px 3px 1px rgba(40, 40, 40, 0.7);
    text-align: center;
    position: absolute;
    bottom: 70px;
    width: 100%;
}

.slogan-title b {
    font-weight: 900;
}

.slogan-title b.bigger {
    font-size: 1.92em;
}

.slogan-title .hl {
    height: 1px;
    vertical-align: middle;
    line-height: 1px;
    background: white;
    box-shadow: 0px 3px 1px rgba(40, 40, 40, 0.7);
    width: 3.1em;
    display: inline-block;
    margin: 0px 5px;
}

.slogan-title .big-logo {
    width: 11.2em;
}

.slogan-title hr {
    visibility: hidden;
    margin: 2px 0px;
}

.slogan-title p {
    font-weight: 700;
    font-size: 0.525em;
    line-height: normal;
}

.slogan-title.blogs {
    bottom: 100px;
}

.slogan-title.wheel {
    text-shadow: none;
    position: relative;
    margin: 50px 0px 0px 0px;
}

.slogan-title.questbar {
    position: relative;
    bottom: 0;
    margin-top: 90px;
}

.slogan-title.monaroom {
    width: 88%;
    margin: auto;
    left: 0px;
    right: 0px;
}

.slogan-title.monaroom img {
    float: right;
    margin-top: -33px;
}

.slogan-title.monaroom img.ticket-body {
    width: 3.275em;
}

.slogan-title.monaroom img.ticket-tail {
    width: 2.575em;
}

.register-slogan {
    font-family: Lato;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: #6d0498;
    margin-top: 40px;
}

.register-slogan b {
    font-weight: normal;
    color: #1c539f;
}

.arrow {
    display: inline-block;
    width: 9px;
    height: 16px;
    background: url(../images/down-arrow.png) no-repeat center center;
}

.arrow.down {
    transform: rotate(0deg);
}

.arrow.left {
    transform: rotate(90deg);
}

.arrow.up {
    transform: rotate(180deg);
}

.arrow.right {
    transform: rotate(-90deg);
}

.content-title.text .arrow {
    margin: 0px 15px;
}

.select-container .arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    transition: .3s ease-out;
}

.alert-notice {
    font-size: 15px;
    font-weight: 500;
    background: #5BC0DE;
    border: 1px solid #499FB7;
    border-radius: 3px;
    padding: 3px 10px;
    color: #fff;
    margin: 5px;
}

.alert-notice.error {
    background: #F0AD4E;
    border-color: #BA8944;
}

.alert-notice.success {
    background: #5CB85C;
    border-color: #427F42;
}

.mona-popup-container.alert-box .mona-popup-body {
    padding: 8px 10px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.sound-off {
    opacity: 0.5;
}

.upgrade-banner .mona-popup {
    min-height: 380px;
    /*background: url(../images/common-header.jpg) center center;*/
}

.upgrade-banner .mona-popup-header {
    display: none;
}

.main-form-container.payment {
    width: 840px;
    padding: 35px 0px 0px 0px;
}

.pay-col-1 {
    width: 380px;
    margin: 0px 80px 0px 0px;
}

.pay-col-2 {
    width: 380px;
}

.main-form-container h3.title {
    margin: 7px 0px;
    color: #FFF;
    border-bottom: 1px dotted;
    padding-bottom: 6px;
    font-weight: 300;
}

.cc-icon {
    display: inline-block;
    background: url(../images/cc-icons.png) no-repeat;
    width: 65px;
    height: 40px;
    background-size: 400% 100%;
    opacity: 0.5;
}

.cc-icon.active {
    opacity: 1;
}

.cc-icon.visa {
    background-position: 0% 0;
}

.cc-icon.master-card {
    background-position: 33.3% 0;
}

.cc-icon.amex {
    background-position: 66.6% 0;
}

.cc-icon.discover {
    background-position: 99.9% 0;
}

.input.input-half {
    width: 50%;
}

.input.input-quarter {
    width: 33.3%;
}

.input.input-3quarter {
    width: 60.6%;
}

.payment.submit-button {
    margin: 15px 0px 0px 0px;
}

.payment.mona-notice {
    color: white;
}

.input.ng-invalid.ng-dirty {
    border: 1px solid #ff6962;
    box-shadow: 1px 1px 1px rgba(255, 105, 98, 0.6) inset;
}

[class^="icon-emo-"], [class*="icon-emo-"] {
    display: inline-block;
    vertical-align: middle;
}

.emo-picker{
    display:inline;
    width: auto;
    position:relative;
}
.emos-container{
    position: absolute;
    top: 0;
    right: 36px;
    background: white;
    width: 220px;
    border-radius: 5px;
    /*box-shadow: 0px 1px 1px rgba(40,40,40,0.5);*/
}
.emos-list{
    margin:0;
    padding: 0;
}
.emo-item{
    display: inline-block;
    list-style-type: none;
    margin: 5px 5px;
}
.mona-button[disabled], button[disabled]{
    box-shadow: none;
    opacity: 0.5!important;
}
.picker-button{
    background-color: transparent;
    border:none;
    outline: none;
}
.compose-window .receiver-details{
    width: 20%;
}
.compose-window .img-container{
    width: 80px;
    height: 80px;
    margin: 10px auto;
}
.compose-window .img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.compose-window .inbox-reply-box textarea{
    height: 105px;
}