/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:10887fd3cbd5efcbe24990bbd1a7d200:bdca591af6026adf595395206ee3d988:92dc1c258fec72e499103906e4bc0afd$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../icons/set.png);}

.angle-arrow {width:39px; height:31px; background-position: -2px -250px}
.arrow-blue {width:74px; height:37px; background-position: -6px -128px}
.arrow-left {width:5px; height:6px; background-position: -43px -250px}
.calender {width:13px; height:14px; background-position: -92px -286px}
.camera {width:23px; height:17px; background-position: -103px -223px}
.camera2 {width:21px; height:17px; background-position: -105px -204px}
.cross {width:58px; height:60px; background-position: -6px -66px}
.cross2 {width:30px; height:29px; background-position: -50px -206px}
.down-arrow {width:9px; height:16px; background-position: -117px -137px}
.eye {width:16px; height:11px; background-position: -85px -228px}
.fb {width:19px; height:19px; background-position: -50px -283px}
.gear-purple {width:21px; height:20px; background-position: -82px -185px}
.gplus {width:19px; height:19px; background-position: -71px -283px}
.heart-purple {width:14px; height:12px; background-position: -106px -263px}
.heart-white {width:21px; height:19px; background-position: -27px -283px}
.iphone {width:26px; height:48px; background-position: -66px -66px}
.left-arrow {width:12px; height:21px; background-position: -78px -260px}
.life {width:24px; height:25px; background-position: -94px -65px}
.master-card {width:33px; height:21px; background-position: -92px -42px}
.message {width:24px; height:20px; background-position: -94px -115px}
.notification {width:22px; height:23px; background-position: -82px -160px}
.paypal {width:33px; height:21px; background-position: -50px -237px}
.play {width:20px; height:20px; background-position: -106px -160px}
.profile {width:20px; height:20px; background-position: -106px -182px}
.purple-arrow {width:34px; height:38px; background-position: -92px -2px}
.right-arrow {width:12px; height:21px; background-position: -92px -263px}
.search {width:18px; height:19px; background-position: -99px -242px}
.search2 {width:12px; height:16px; background-position: -85px -241px}
.separator {width:2px; height:49px; background-position: -2px -174px}
.separator2 {width:2px; height:170px; background-position: -2px -2px}
.separator3 {width:2px; height:49px; background-position: -2px -174px}
.sound-on {width:42px; height:42px; background-position: -6px -206px}
.tick {width:84px; height:62px; background-position: -6px -2px}
.twitter {width:19px; height:19px; background-position: -82px -207px}
.up-arrow {width:74px; height:37px; background-position: -6px -167px}
.user-groups {width:24px; height:21px; background-position: -94px -92px}
.visa {width:33px; height:21px; background-position: -43px -260px}
.visa2 {width:33px; height:21px; background-position: -82px -137px}
.wallet {width:23px; height:19px; background-position: -2px -283px}
