<header class="row header-section general">
    <div class="row top-content">
        <div class="container">
            <div class="cf"></div>
            <div class="slogan-title monaroom">
                <img class="ticket-body" ng-src="{{'images/mona-ticket1.png'|url:'asset'}}"/>
                <img class="ticket-tail" ng-src="{{'images/mona-ticket2.png'|url:'asset'}}"/>
                Dear Mona <b>LETTER ROOM!</b><br>
                your <b>TRUE</b> & only <b>LOVE GURU</b>
                <p>When you are broken hearted, remember that at UGLYMONA you are never alone.</p>
            </div>
        </div>
    </div>
    <a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general">
    <div class="cf content-title-fix seperator-bg">
        <div class="container">
            <div class="content-title text">
                Dear Mona - Letter Room
            </div>
        </div>
    </div>
    <div smooth-scroll duration="300" class="container">
        <div class="main-form-container monaroom">
            <div ng-show="vm.error" style="margin: 26px 0px -33px; font-size: 20px;" class="form-notice error">
                {{vm.error}}
            </div>
            <div ng-show="vm.success" style="margin: 26px 0px -33px; font-size: 20px;" class="form-notice success">
                Your letter is sent to Mona successfully. She will write back to you soon.
            </div>
            <form name="form">
                <label class="monatextarealabel" for="monatextarea">Dear Mona,</label>
                <textarea ng-model="vm.letter.message" name="message" id="monatextarea" placeholder="Write your letter here.."
                          class="input"></textarea>
                <label class="letterfooter">Thank you Mona. Hope to hear back soon.</label>
                <br>
                <button type="submit" ng-click="vm.submit();" class="btn purple fr">Send Letter To Mona</button>
                <div class="mona-notice fr">
                    Notice: Please note that Mona only responds once a week to one note at a time.
                </div>
            </form>
        </div>
        <div class="cf"></div>
    </div>
</div>