<header class="row header-section general">
    <div class="row top-content">
        <div class="container">
            <div class="cf"></div>
            <div class="slogan-title videoroom">
                Please use the <b>UGLYMONA VIDEO MINGLE</b><br>
                to make a brief <b>STATEMENT ABOUT YOURSELF</b>
                <p>Put Forth Your Best Presentation! We Want You To Achieve True Relationship Success!</p>
            </div>
        </div>
    </div>
    <a class="header-arrow-down"></a>
</header>
<div smooth-scroll duration="300" class="row main-content-section general">
    <div class="cf content-title-fix seperator-bg videoroom">
        <div class="container">
            <div class="content-title videoroom">
                <a href="videos" class="fl">Browse Videos</a><a class="fr active" href="javascript:void(0)">Add Your
                Video</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cf"></div>
        <div class="main-form-container videoroom">
            <form method="post" id="video_upload_form" autocomplete="off" action="{{url('videos/add')}}">
                <progress-bar ng-show="vm.uploadProgress>0||vm.uploadProgress<100" value-meter="vm.uploadProgress"></progress-bar>
                <div ng-show="vm.error" class="videoroombigtext form-notice error">
                    {{vm.error}}
                </div>
                <div ng-show="vm.success" class="videoroombigtext form-notice success">
                    {{vm.success}}
                </div>
                <div ng-hide="vm.error||vm.success" class="videoroombigtext form-notice info">
                    Upload your video! It's so easy.
                </div>
                <div class="vd-col-1 fl">
                    <input type="text" ng-model="vm.video.title" name="title" class="input" placeholder="Video Title*">
                    <input type="text" ng-model="vm.video.description" name="description" class="input" placeholder="Video Description">
                    <mona-select mona-label="Privacy Level" mona-model="vm.video.privacy"
                                 mona-options="vm.privacyOptions"></mona-select>
                </div>
                <div class="vd-col-2 fl">

                </div>
                <div class="vd-col-3 fl">
                    <input type="file" bind-file-data="vm.selectedFile" file-object class="input file-browser" accept="video/mp4,video/webm"/>
                    <mona-select mona-label="Allow Comments?" mona-model="vm.video.allow_comments"
                                 mona-options="vm.yesNoOptions"></mona-select>
                    <button ng-disabled="vm.submitDisabled" ng-click="vm.submit()" type="button" class="submit-button btn purple">Add Your Video</button>
                </div>
            </form>
            <div style="margin:" class="mona-notice fr">
                Notice: Your videos/photos will be stored & shared on our servers,
                and can be removed by Uglymona, Inc.
                Customer Support Representatives

            </div>
        </div>
        <div class="cf"></div>
    </div>
</div>