<div class="blogpage">
    <header class="row header-section common">
        <div class="row top-content">
            <div class="container">
                <div class="cf"></div>
                <div class="slogan-title blogs">
                    Please check the <b>DEAR MONA LIFE ARTICLES</b><br>for <b>INSPIRATIONAL STORIES, IDEAS & EVENTS</b>
                </div>
                <div class="blog-room-slogan hidden">
                    Please check the Dear Mona life articles for inspirational stories, ideas & events
                </div>
                <div ng-include="'components/blog-nav.html'"></div>
            </div>
        </div>
        <a class="header-arrow-down"></a>
    </header>
    <div class="row main-content-section">
        <div class="container blogpage-title">
            Life Articles
        </div>
        <div class="row blog-page-sep"></div>
        <div class="cf"></div>
        <div class="container">
            <div ng-repeat="blog in vm.blogs track by blog.id">
                <div class="blog-post">
                    <span class="blog-date"><i class="sprite calender"></i> {{blog.post_date}}</span>

                    <h2 class="blog-title">{{blog.title}}</h2>

                    <div class="blog-content">
                        <a href="#" class="blog-author">from {{blog.author_name}}</a>
                        &nbsp;|&nbsp; &nbsp;
                        {{blog.summary|limit:150}}
                    </div>
                    <p><a ng-href="{{blog.permalink}}" class="read-more-btn">Read More</a></p>
                </div>
                <div ng-hide="$last" class="smallsep"></div>
            </div>
            <div class="cf"></div>
        </div>
    </div>
</div>