<header class="row header-section landing">
	<div class="row top-content">
		<div class="container">
			<div class="cf"></div>
			<div class="slogan-title landing">
				<span class="hl"></span> Welcome to <span class="hl"></span><hr>
				<img class="big-logo" ng-src="{{'images/big-logo.png'|url:'asset'}}"><br>
				Where Who You Are <b>Has Never Been So Hot!</b>
			</div>
			<div class="landing-page-divider">
			    <a href="javascript:void(0)" class="landing-divider-arrow"></a>
			    <a ng-hide="vm.isLoggedIn" href="signup" class="landing-register-btn"></a>
			</div>
		</div>
	</div>
</header>
<div class="row content-section-landing">
	<div class="container">
		<div class="cf"></div>
		<div class="register-slogan">
		    Register for FREE and start searching for your soulmate <b>NOW!</b>
		</div>
		<div class="landing-slider-container">
		    <ul mona-slider class="landing-slider">
		        <li class="landing-slider-item">
		            <img ng-src="{{'images/profile-wheel.png'|url}}">
		            <h2>PROFILE WHEEL</h2>
		            <a class="see-more-btn" href="profile-wheel">Click to see more +</a>
		        </li>
		        <li class="landing-slider-item">
		            <img ng-src="{{'images/quest-bar.png'|url}}">
		            <h2>QUEST BAR</h2>
		            <a class="see-more-btn" href="quest-bar">Click to see more +</a>
		        </li>
		        <li style="margin-right:0px;" class="landing-slider-item">
		            <img ng-src="{{'images/video-room.png'|url}}">
		            <h2>VIDEO MINGLE</h2>
		            <a class="see-more-btn" href="videos">Click to see more +</a>
		        </li>
		        <li class="landing-slider-item">
		            <img ng-src="{{'images/mona-room-thumb.png'|url}}">
		            <h2>LETTER ROOM</h2>
		            <a class="see-more-btn" href="letter-room">Click to see more +</a>
		        </li>
		        <li class="landing-slider-item">
		            <img ng-src="{{'images/blog-thumb.png'|url}}">
		            <h2>LIFE ARTICLES</h2>
		            <a class="see-more-btn" href="blogs">Click to see more +</a>
		        </li>
		    </ul>
		    <a href="javascript:void(0);" class="slider-control-left"></a>
		    <a href="javascript:void(0);" class="slider-control-right"></a>
		    <div class="cf"></div>
		</div>
	</div>
</div>