<header class="row header-section general">
    <div class="row top-content">
        <div class="container">
            <div class="cf"></div>
            <div class="slogan-title monaroom">
                <img class="ticket-body" ng-src="{{'images/mona-ticket1.png'|url:'asset'}}"/>
                <img class="ticket-tail" ng-src="{{'images/mona-ticket2.png'|url:'asset'}}"/>
                Dear Mona <b>LETTER ROOM!</b><br>
                your <b>TRUE</b> & only <b>LOVE GURU</b>
                <p>When you are broken hearted, remember that at UGLYMONA you are never alone.</p>
            </div>
        </div>
    </div>
    <a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general fixed-bg">
    <div class="cf content-title-fix seperator-bg">
        <div class="container">
            <div class="content-title text">
                Dear Mona - Letter Room
            </div>
        </div>
    </div>
    <div class="container">
        <span class="fl hidden" style="">10 of 100 letters</span>
        <a style="margin:20px 0px 10px;width:200px;" href="letter/add" class="btn purple fr">Write A Letter
            To Mona</a>

        <div class="cf"></div>
        <div class="list-view-container">
            <ul class="list-view">
                <li ng-repeat="letter in vm.letters" class="list-item letter-list-item">
                    <div class="single-letter-view">
                        <div class="col-1 fl">
                            <img class="user-pic" ng-src="{{letter.user.profile.profile_pic}}"/>
                            <a class="user-link" ng-attr-href="{{letter.user.permalink}}">{{letter.user.full_name}}</a>
                        </div>
                        <div class="col-2 fr">
                            <div class="letter-message-view" ng-bind-html="letter.formatted_message">

                            </div>
                            <div ng-show="letter.status>=1" class="letter-reply-view"
                                 ng-bind-html="letter.formatted_reply">

                            </div>
                        </div>
                        <div class="cf"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cf"></div>
    </div>
</div>