<header class="row header-section general">
    <div class="row top-content">
        <div class="container">
            <div class="cf"></div>
            <div smooth-scroll duration="300" offset="0" class="slogan-title registration">
                <span class="hl"></span><b class="bigger"> Login Now </b><span class="hl"></span>
                <hr>
                You'll Be Glad <b>That You Did!</b>
            </div>
        </div>
    </div>
    <a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general">
    <div class="cf content-title-fix seperator-bg">
        <div class="container">
            <div class="content-title text">
                <span class="arrow right"></span> Login / Registration <span class="arrow left"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="login-column one fl">
            <h3 ng-show="vm.error">{{vm.error}}</h3>

            <h3 ng-hide="vm.error">Already Member? <a href="javascript:void()">Login Now!</a></h3>

            <form ng-submit="vm.submit($event)" name="form" method="post" novalidate action="login" autocomplete="off">
                <input id="email" ng-model="vm.email" type="email" name="email" class="input" required
                       placeholder="Email Address">
                <input type="password" ng-model="vm.password" name="password" class="input" required
                       placeholder="Email Password">
                <button class="btn primary">Login</button>
                <div class="form-extra">
                    <label class="fl"><input name="remember_me" value="yes" ng-model="vm.shouldRemember" type="checkbox">
                        Remember me</label>
                    <a href="#" ng-click="vm.passwordRetrievalWindow=true" class="fr">Forgot your password?</a>

                    <div class="cf"></div>
                </div>
            </form>
        </div>
        <div class="login-column two fl">
            <h3>Not a member yet? <a href="signup">Join Now!</a></h3>

            <p>
                Everyday hundreds of people join Uglymona - the leading community for singles. Our easy features,
                thousands of members, and countless success stories make this the place to meet someone special.
            </p>

            <p class="small">
                Connect with hundreds of thousands of singles around the world
            </p>
            <a href="signup" class="btn primary">Click to continue</a>
        </div>
        <div class="cf"></div>
    </div>
</div>
<div mona-popup class="alert-box" visibility-condition="vm.emailVerifiedNotice" max-width="500px"
     on-done="vm.emailVerifiedNotice=false"
     on-close="vm.resetAlertNotices()" title="Email Verified!" ok-button-label="Login Now" locked>
    Your email has been verified successfully. You may login now!
</div>
<div mona-popup visibility-condition="vm.passwordRetrievalWindow" max-width="500px" title="Request Password Reset"
     ok-button-label="Request Password Reset" on-done="vm.submitPassResetRequest()">
    <form>
        <div ng-show="vm.passResetError" class="alert-notice error">
            {{vm.passResetError}}
        </div>
        <div ng-show="vm.passResetInfo" class="alert-notice">
            {{vm.passResetInfo}}
        </div>
        <div class="form-field">
            <label class="field-label fl">Email Address</label>
            <span class="field-control fr">
            <input ng-model="vm.passResetEmail" class="new-input" type="text" name="email"/>
            </span>

            <div class="cf"></div>
        </div>
    </form>
</div>
<div mona-popup visibility-condition="vm.passwordResetWindow" on-close="vm.resetAlertNotices()" on-done="vm.submitConfirmPassReset()" max-width="500px"
     title="Reset Your Password" ok-button-label="Reset Password" locked>
    <form>
        <div ng-show="vm.passResetError" class="alert-notice error">
            {{vm.passResetError}}
        </div>
        <div ng-show="vm.passResetInfo" class="alert-notice">
            {{vm.passResetInfo}}
        </div>
        <div class="form-field">
            <label class="field-label fl">Email Address</label>
            <span class="field-control fr">
            <input ng-model="vm.newPassRequest.email" class="new-input" type="text" name="email"/>
            </span>

            <div class="cf"></div>
        </div>
        <div class="form-field">
            <label class="field-label fl">New Password</label>
            <span class="field-control fr">
            <input ng-model="vm.newPassRequest.password" class="new-input" type="password" name="password"/>
            </span>

            <div class="cf"></div>
        </div>
        <div class="form-field">
            <label class="field-label fl">Confirm New Password</label>
            <span class="field-control fr">
            <input ng-model="vm.newPassRequest.password_confirmation" class="new-input" type="password" name="password_confirmation"/>
            </span>

            <div class="cf"></div>
        </div>
    </form>
</div>