<style type="text/css">
    @import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono");
</style>
<div class="wheel-page" id="">
    <header class="row header-section">
        <div class="row top-content">
            <div class="container">
                <div class="slogan-title wheel">
                    Spin the wheel Now! Search for your SOULMATE<br>
                    click now
                </div>
                <div class="wheel-page-title hidden">
                </div>
            </div>
        </div>
    </header>
    <div class="row main-content-section">
        <div class="container">
            <div mona-wheel alias="vm.wheel" class="profile-wheel-container wheel-view">
                <div ng-show="wheel.matchVisible" class="wheel-user-pic-container">
                    <div class="pic-holder"><img id="wheel-user-pic-src-holder"
                                                        ng-src="{{wheel.match.profile.profile_pic}}"/>
                        <a ng-click="wheel.reset()" href="javascript:void(0)" class="wheel-cross-btn"></a>
                    </div>
                    <span class="angled-arrow"></span>
                </div>
                <div class="wheel-bottom-layer">
                    <div class="wheel-menu-items-wrapper">
                        <div round-text width="{{wheel.width*0.92}}" font-size="{{wheel.width*0.031}}" spinnable alias="wheel.bottomLayer" id="wheel-menu-items">FLIRT | FRIENDSHIP | ADVENTURE | MARRIAGE | CRAZY LOVE | CHAT | TRUE SOULMATE | LOVE | ROMANCE | DATTING | VIDEO CHATTING | SINGLE | </div>
                    </div>
                </div>
                <div class="wheel-top-layer">
                    <div round-text width="{{wheel.width*0.69}}" font-size="{{wheel.width*0.05}}" angle="{{wheel.statusLabel.length*7}}" text="{{wheel.statusLabel}}" alias="wheel.statusField" id="wheel-top-layer-title"></div>
                    <div ng-hide="wheel.detailsVisible" id="wheel-most-top-layer">
                        <button ng-disabled="wheel.isSpining" ng-hide="wheel.matchVisible" ng-click="wheel.spin();" id="wheel-start-spin-btn" class="wheel-start-spin-text">SPIN</button>

                        <div ng-show="wheel.matchVisible&&!wheel.detailsVisible" class="wheel-matching-text">
                            <small>match</small>
                            <span class="count">{{wheel.match.percentage}}%</span></div>
                        <button href="javascript:void(0)" ng-click="wheel.detailsVisible=true" ng-disabled="!wheel.matchVisible" class="wheel-icon tick"></button>
                        <button href="javascript:void(0)" ng-click="wheel.reset()" ng-disabled="!wheel.matchVisible" class="wheel-icon cross"></button>
                    </div>
                    <div ng-show="wheel.detailsVisible" id="wheel-user-details-layer">
                        <div class="wheel-profile-data">
                            <h5>Profile</h5>
                            <h6>{{wheel.match.full_name|limit:20}}</h6>
                            <ul>
                                <li ng-repeat="field in wheel.match.profile_fields">{{field | limit: 22}}</li>
                            </ul>
                        </div>
                        <a href="javascript:void(0)" ng-click="wheel.match.openChat()" class="wheel-button-msg sprite notification"></a>
                        <a href="#" ng-click="wheel.match.showProfile()" class="wheel-button-photos sprite camera2"></a>
                    </div>
                </div>
                <div class="wheel-nav-buttons">
                    <button ng-disabled="!wheel.navigator.canGoBackward()" ng-click="wheel.showPrevMatch()" class="wheel-nav-button prev fl"><span class="sprite left-arrow"></span>
                        Previous
                        Profile</button>
                    <button ng-disabled="!wheel.navigator.canGoForward()" ng-click="wheel.showNextMatch()" class="wheel-nav-button next fr">Next Profile <span
                            class="sprite right-arrow"></span></button>
                </div>
            </div>
            <div class="cf"></div>

            <div class="cf"></div>
        </div>
    </div>
</div>