<header class="row header-section general">
	<div class="row top-content">
		<div class="container">
			<div class="cf"></div>
			<div class="slogan-title buidlprofile">
				<span class="hl"></span><b class="bigger"> Build Profile </b><span class="hl"></span><br>
				Answer questions <b>to gain visibility</b>
			</div>
			<div smooth-scroll duration="300" offset="0" class="build-profile-slogan hidden">
				Build Profile- Answer Questions to gain visibility
			</div>
		</div>
	</div>
	<a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general">
	<div class="cf content-title-fix seperator-bg">
		<div class="container">
			<div class="content-title text">
				<span class="arrow right"></span> Build Your Profile Below <span class="arrow left"></span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="main-form-container">
			<progress-bar ng-hide="vm.profileProgress>100" value-meter="vm.profileProgress"></progress-bar>
			<h3 class="form-title error" ng-show="vm.error">{{vm.error}}</h3>
			<form novalidate enctype="multipart/form-data" method="post" class="build-step-container">
				<div class="build-step-1">
					<mona-select mona-label="Im a", mona-model="vm.user.profile.gender" mona-options="vm.fields.gender.options"></mona-select>
					<mona-select mona-label="{{vm.fields.looking_for.label}}" mona-model="vm.user.profile.looking_for" mona-options="vm.fields.looking_for.options"></mona-select>
					<input type="text" name="full_name" ng-model="vm.user.full_name" placeholder="Full Name" class="input" />
					<input type="text" name="date_of_birth" ng-model="vm.user.profile.date_of_birth" placeholder="Date of birth (yyyy/mm/dd)" class="input" />

					<button type="button" ng-click="vm.gotoStep(2)" class="btn primary bold">Next</button>
				</div>
				<div class="build-step-2 hidden">
					<mona-select mona-label="{{vm.fields.looking_for_age.label}}", mona-model="vm.user.profile.looking_for_age" mona-options="vm.fields.looking_for_age.options"></mona-select> 
					<mona-select mona-label="{{vm.fields.zodiac_sign.label}}", mona-model="vm.user.profile.zodiac_sign" mona-options="vm.fields.zodiac_sign.options"></mona-select>
					<mona-select mona-label="{{vm.fields.relationship_status.label}}", mona-model="vm.user.profile.relationship_status" mona-options="vm.fields.relationship_status.options"></mona-select>
					<mona-select mona-label="{{vm.fields.want_children.label}}", mona-model="vm.user.profile.want_children" mona-options="vm.fields.want_children.options"></mona-select> 
					<button type="button" ng-click="vm.gotoStep(3)" class="btn primary bold">Next</button>
				</div>
				<div class="build-step-3 hidden">
					<mona-select mona-label="{{vm.fields.education.label}}", mona-model="vm.user.profile.education" mona-options="vm.fields.education.options"></mona-select>
					<mona-select mona-label="{{vm.fields.work.label}}", mona-model="vm.user.profile.work" mona-options="vm.fields.work.options"></mona-select> 
					<mona-select mona-label="{{vm.fields.personality.label}}", mona-model="vm.user.profile.personality" mona-options="vm.fields.personality.options"></mona-select> 
					<mona-select mona-label="{{vm.fields.ethnicity.label}}", mona-model="vm.user.profile.ethnicity" mona-options="vm.fields.ethnicity.options"></mona-select>
					<button type="button" ng-click="vm.gotoStep(4)" class="btn primary bold">Next</button>
				</div>
				<div class="build-step-4 hidden">
					<mona-select mona-label="{{vm.fields.build_type.label}}", mona-model="vm.user.profile.build_type" mona-options="vm.fields.build_type.options"></mona-select>
					<mona-select mona-label="{{vm.fields.hair_color.label}}", mona-model="vm.user.profile.hair_color" mona-options="vm.fields.hair_color.options"></mona-select>
					<mona-select mona-label="{{vm.fields.eye_color.label}}", mona-model="vm.user.profile.eye_color" mona-options="vm.fields.eye_color.options"></mona-select>
					<mona-select mona-label="{{vm.fields.do_smoke.label}}", mona-model="vm.user.profile.do_smoke" mona-options="vm.fields.do_smoke.options"></mona-select>
					<button type="button" ng-click="vm.gotoStep(5)" class="btn primary bold">Next</button>
				</div>
				<div class="build-step-5 hidden">
					<textarea name="about_text" class="input" ng-model="vm.user.profile.about_text" placeholder="Say as many words about yourself"></textarea>
					<button type="button" ng-click="vm.gotoStep(6)" class="btn primary bold">Next</button>
				</div>
				<div class="build-step-6 hidden">
					<div bind-to-file-input="pp_selector" class="circle-photo-holder">
					<img ng-show="vm.finalImage" ng-src="{{vm.finalImage}}">
					</div>
					<input bind-to-button="pp_selector" bind-file-data="vm.selectedImage" class="hidden" type="file" name="photo"/>
					<div style="text-align:center;" class="form-extra">
						Choose a photo to upload as your profile photo    
					</div>
					<button type="button" ng-click="vm.submit();" class="btn primary bold">Upload and complete profile</button>
				</div>
				<div class="build-step-7 hidden">
					<span class="build-completed-message">Congrats!! your profile is completed Now! Lets spin the wheel and find your soulmate! Wait while we redirect you to profile wheel!</span>
				</div>
			</form>
		</div>
	</div>
	<div class="cf"></div>
</div>
</div>
<div mona-popup on-done="vm.handleCropingDone()" on-close="vm.handleCropingCancel()" visibility-condition="vm.resizeImagePopup" max-width="640px" title="Resize and crop image">
	<img-crop image="vm.selectedImage" result-image="vm.resizedImage" area-min-size="160" result-image-siz="200" max-height="500"></img-crop>
</div>