<header class="row header-section general">
    <div class="row top-content">
        <div class="container">
            <div class="cf"></div>
            <div class="slogan-title questbar">
                Use the Search Bar to Search for<br>
                the Love of Your Dreams
                <p>Be sure to update your friendly profile data so that your profile can be located in the search.</p>
            </div>
            <div class="search-room-slogan hidden">
                Use the Search Bar to find the love of your dream. Be sure to update your friendly profile data so that
                your
                profile can be located in the search.
            </div>
            <div class="searchbar-container">
                <form novalidate>
                    <input type="text" ng-model="vm.searchString" class="mainsearchbar"
                           placeholder="i.e. woman 20 years old in indiana">
                    <input awe-button normal-action="vm.search()" control-state="vm.searchButtonState" type="submit"
                           class="mainsearchbutton"/>
                    <a ng-click="vm.showOptionsPopup()" class="advanceoptbtn" href="javascript:void(0)">Advanced search
                        options</a>
                </form>
            </div>

        </div>
    </div>
    <a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general fixed-bg">
    <div class="cf content-title-fix full">
        <div class="container">
            <div class="content-title searchroom">
			    <span class="paired-line" ng-show="vm.users.length<1">
			        Use above bar to search for users
			    </span>
			    <span class="paired-line" ng-show="vm.users.length>0">
			        {{vm.users.length}} Profile(s) Found
			    </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-hide="vm.loadingState" class="listing-tag">
		    <span class="paired-line" ng-show="vm.users.length<1">
		        Your search result will be displayed here!
		    </span>
		    <span class="paired-line" ng-show="vm.users.length>1">
		        for more result scroll down your mouse
		    </span>
        </div>
        <div ng-show="vm.loadingState" class="loading-indicator-group">
            <span class="loading-indicator first"></span>
            <span class="loading-indicator second"></span>
            <span class="loading-indicator third"></span>
            <span class="loading-indicator fourth"></span>
            <span class="loading-indicator fifth"></span>
        </div>

        <div scroll-view max-height="400px" class="users-list-container quest-bar">

            <ul class="users-list">
                <li ng-repeat="user in vm.users" class="users-list-item">
                    <div ng-click="vm.showProfile(user);" class="user-thumb">
                        <div class="pp fl">
                            <img ng-src="{{ user.profile.profile_pic}}"/>
                        </div>
                        <div class="info fl">
                            <p class="line1"><i class="sprite eye"></i> &nbsp;{{ user.profile.view_count || 0 }} Views
                            </p>

                            <p class="line2"><span>{{ user.full_name|limit:15 }}</span>, {{ user.profile.age }} y.o.</p>

                            <p ng-attr-title="{{user.city+', '+user.state}}" class="line3">{{user.city|limit:10}}, {{
                                user.state|limit:8 }}</p>
                        </div>
                        <div class="cf"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cf"></div>
    </div>
</div>
<div mona-popup no-footer visibility-condition="vm.userPopupVisible" class="mi-profile-view-container" max-width="700px"
     title="Profile: {{vm.selectedUser.name}}">
    <div class="mi-profile-view">
        <img ng-src="{{vm.selectedUser.profile.profile_pic}}"/>
        <b>Name</b><br>
        <span>{{vm.selectedUser.name}}</span>
        <hr>
        <b>Biographical Data</b><br>
        <span>{{vm.selectedUser.profile.about_text|limit:140}}</span>
        <hr>
        <b>Location</b><br>
        <span>{{vm.selectedUser.location || "N\\A"}}</span>
        <hr>
        <b>Work</b><br>
        <span>{{vm.selectedUser.profile.work || "N\\A"}}</span>
        <hr>
        <b>Education</b><br>
        <span>{{vm.selectedUser.profile.education || "N\\A"}}</span>
        <hr>
        <b>Hair</b><br>
        <span>{{vm.selectedUser.profile.hair_color || "N\\A"}}</span>
        <hr>
        <b>Eyes</b><br>
        <span>{{vm.selectedUser.profile.eye_color || "N\\A"}}</span>
        <hr>
        <b>Age</b><br>
        <span>{{vm.selectedUser.profile.age || "N\\A"}}</span>
        <div class="buttons">
            <button ng-click="vm.selectedUser.openChat()" class="mona-button ok-button">Send Message</button>
            <button ng-click="vm.nextProfile()" class="mona-button ok-button">View Next Profile</button>
        </div>
        <div class="cf"></div>
    </div>
</div>
<div mona-popup on-done="vm.searchFiltersUpdated()" visibility-condition="vm.optionsPopupVisible" max-width="500px"
     title="Advanced Search Options">
    <form>
        <div ng-repeat="field in vm.filterFields" class="form-field">
            <label class="field-label fl">{{ field.label }}</label>
            <span class="field-control fr">
                <div dropdown-select="field.options"
                     dropdown-model="vm.searchFilters[field.key]"
                     dropdown-item-label="label">
                </div>
            </span>

            <div class="cf"></div>
        </div>
    </form>
</div>