<header class="row header-section general">
	<div class="row top-content">
		<div class="container">
			<div class="cf"></div>
			<div smooth-scroll duration="300" offset="0" class="slogan-title registration">
				<span class="hl"></span><b class="bigger"> Register Now </b><span class="hl"></span><hr>
				You'll Be Glad <b>That You Did!</b>
			</div>
		</div>
	</div>
	<a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general">
	<div class="cf content-title-fix seperator-bg">
		<div class="container">
			<div class="content-title text">
				<span class="arrow right"></span> New To Uglymona? <span class="arrow left"></span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="main-form-container">
			<form name="form" autocomplete="off" method="post" novalidate>
				<h3 ng-show="vm.error" class="form-title error">{{vm.error}}</h3>
				<h3 ng-show="vm.success&&!vm.error" class="form-title success">{{vm.success}}</h3>
				<h3 ng-hide="vm.error||vm.success" class="form-title">Create an account below</h3>
				<input type="text" required ng-model="vm.user.username" name="username" placeholder="Username" class="input"/>
				<input type="email" required ng-model="vm.user.email" name="email" placeholder="Email Address" class="input"/>
				<input type="password" required ng-model="vm.user.password" name="password" placeholder="Password" class="input"/>
				<input type="password" required ng-model="vm.user.password_confirmation" name="password_confirmation" placeholder="Confirm Password" class="input"/>
				<div class="form-extra">
					<input type="checkbox" ng-model="vm.user.terms" name="terms" value="yes" required  id="acceptterms">
					<label for="acceptterms">I agree to the <a href="#">terms and the conditions</a>(to be extended)</label>
				</div>
				<button ng-click="vm.submit(form);" class="btn primary bold">Create An Account</button>
			</form>
		</div>
		<div class="cf"></div>
	</div>
</div>