<header class="row header-section general singlevid">
    <div class="row top-content">
        <div class="container">
            <div class="cf"></div>
            <div class="single-video-container">
                <div class="user-details fl">
                    <div class="user-thumb single-video-page">
                        <div class="pp fl">
                            <img ng-src="{{vm.video.user.profile.profile_pic}}"/>
                        </div>
                        <div class="info fl">
                            <p class="line1"><i class="sprite heart-purple"></i> &nbsp;{{vm.video.user.profile.likes_count}}
                                Likes</p>

                            <p class="line2">{{(vm.video.user.full_name||vm.video.user.username)|limit:15}},
                                {{vm.video.user.profile.age}}
                                y.o.</p>

                            <p class="line3">{{vm.video.user.city|limit:10}}, {{vm.video.user.state|limit:10}}</p>
                        </div>
                        <div class="cf"></div>
                    </div>
                    <ul class="profile-nav single-video-page">
                        <li><a ng-click="vm.video.user.showProfile()" href="#"><span class="sprite profile"></span> View Profile</a>
                        </li>
                        <li><a href=# ng-click="vm.video.user.openChat()"><span class="sprite message"></span> Send A Message</a>
                        </li>
                        <li><a href=#><span class="sprite user-groups"></span> Add To Connection</a>
                        </li>
                    </ul>
                </div>
                <div style="" class="video-details fr">
                    <video id="um-user-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
                           preload="auto" width="100%" height="100%" ng-attr-poster="{{vm.video.thumb.getUrl()}}"
                           data-setup='{}'>
                        <source ng-src="{{vm.video.getSource('mp4')}}" type='video/mp4'>
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5
                            video</a>
                        </p>
                    </video>
                </div>
                <div class="cf"></div>
            </div>
        </div>
    </div>
    <a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general fixed-bg single-vid">
    <div class="cf content-title-fix seperator-bg">
        <div class="container">
            <div class="content-title videoroom">
                <a class="fl" href="videos">Browse Videos</a><a class="fr" href="videos/add">Add Your Video</a>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="videos/add" class="add-video-button btn purple fl">Add Your Video</a>

        <div class="cf"></div>
        <div ng-include="'components/video-list.html'"></div>
        <div class="cf"></div>
    </div>
</div>