<div class="blogpage">
    <header class="row header-section common">
        <div class="row top-content">
            <div class="container">
                <div class="cf"></div>
                <div class="blog-room-slogan">
                    Please check the Dear Mona life articles for inspirational stories, ideas & events
                </div>
                <div ng-include="'components/blog-nav.html'"></div>
            </div>
        </div>
        <a class="header-arrow-down"></a>
    </header>
    <div class="row main-content-section">
        <div class="container blogpage-title">
            Life Articles
        </div>
        <div class="row blog-page-sep"></div>
        <div class="cf"></div>
        <div class="container">
            <div class="blog-post">
                <span class="blog-date"><i class="sprite calender"></i> {{vm.blog.post_date}}</span>

                <h2 class="blog-title">{{vm.blog.title}}</h2>

                <div ng-show="vm.blog.is_pdf">
                    <iframe html-view-adapter class="blog-pdf-container" ng-src="{{vm.blog.pdf_link}}"></iframe>
                </div>
                <div class="blog-content" ng-show="!vm.blog.is_pdf">
                    {{vm.blog.content}}
                </div>
            </div>
            <div class="cf"></div>
        </div>
    </div>
</div>