<header class="row header-section general">
    <div class="row top-content">
        <div class="container">
            <div class="cf"></div>
            <div class="slogan-title upgrade-page">
                <span class="hl"></span><b class="bigger"> Upgrade Profile </b><span class="hl"></span><br>
                Unlock Full Access for <b>JUST ${{vm.subscriptionFee}}/YEAR</b>

                <p>Your Payment Is Completely Secure! Your Credit Card Information Never Touch Our Server.</p>
            </div>
        </div>
    </div>
    <a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general fixed-bg">
    <div class="cf content-title-fix seperator-bg">
        <div class="container">
            <div class="content-title text">
                Only ${{vm.subscriptionFee}} per year
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-form-container payment">
            <form novalidate ng-submit="helper.longCall(vm.submit, vm)" method="post" name="paymentForm" autocomplete="off">
                <div ng-show="vm.error" class="form-notice error">
                    {{vm.error}}
                </div>
                <div ng-show="paymentForm.$submitted&&vm.success" class="form-notice success">
                    {{vm.success}}
                </div>
                <div class="pay-col-1 fl">
                    <h3 class="title">Billing Address</h3>
                    <input required class="input" placeholder="Street Address" type="text" name="address1"
                           ng-model="vm.form.address1">
                    <input required class="input" placeholder="Address Line 2" type="text" name="address2"
                           ng-model="vm.form.address2">
                    <input required maxlength="7" class="input input-quarter fl" placeholder="Postal Code" type="text" name="address"
                           ng-model="vm.form.postCode">
                    <input required class="input input-3quarter fr" placeholder="Country" type="text" name="country"
                           ng-model="vm.form.contry">

                    <div class="cf"></div>
                </div>
                <div class="pay-col-2 fl">
                    <label class="cc-icons">
                        <span ng-class="paymentForm.cardNumber.$ccEagerType==='Visa'?'active':''"
                              class="cc-icon visa"></span>
                        <span ng-class="paymentForm.cardNumber.$ccEagerType==='MasterCard'?'active':''"
                              class="cc-icon master-card"></span>
                        <span ng-class="paymentForm.cardNumber.$ccEagerType==='American Express'?'active':''"
                              class="cc-icon amex"></span>
                        <span ng-class="paymentForm.cardNumber.$ccEagerType==='Discover'?'active':''"
                              class="cc-icon discover"></span>
                    </label>
                    <input required class="input" placeholder="Card Number" type="text" name="cardNumber" ng-model="vm.card.number" ng-model-options="{allowInvaild:true}" cc-number cc-eager-type cc-format>
                    <input required class="input" placeholder="Name On Card" type="text" name="fullName"
                           ng-model="vm.card.fullName">
                    <input required class="input input-3quarter fl" placeholder="Expire Date" type="text" name="expDate"
                           ng-model="vm.card.expDate" cc-exp-date>
                    <input required class="input input-quarter fr" placeholder="Pin Code" type="text" name="pin"
                           ng-model="vm.card.cvc" cc-cvc>

                    <div class="cf"></div>
                </div>
                <button ng-disabled="paymentForm.$invalid" type="submit"
                        class="payment submit-button btn purple fr">Confirm Payment
                </button>
                <div style="" class="payment mona-notice fr">
                    By clicking above button you accept our <a href="#">terms and conditions</a>.
                </div>
                <div class="cf"></div>
            </form>
        </div>
    </div>
</div>