<header class="row header-section general profile-page">
    <div class="row top-content">
        <div class="container">
            <div class="cf"></div>
            <div class="user-thumb full">
                <div class="pp fl">
                    <img ng-src="{{vm.user.profile.profile_pic}}"/>
                </div>
                <div class="info fl">
                    <p class="line1"><i class="sprite heart-purple"></i> {{vm.user.membership.label|ucword}} Membership
                    </p>

                    <p class="line2">{{vm.user.full_name|limit: 13}}, {{vm.user.profile.age}} y.o.</p>

                    <p class="line3">{{vm.user.city}}, {{vm.user.state}}</p>
                </div>
                <div class="cf"></div>
            </div>
            <div class="user-qualities">
                <span class="item">{{vm.user.profile.relationship_status|ucword}}</span> I <span class="item">Seeking {{vm.user.profile.looking_for|ucword}}</span>
                I <span class="item">{{vm.user.profile.education|ucword}}</span> I <span class="item">{{vm.user.profile.work|ucword}}</span>
                I <span class="item">{{vm.user.profile.do_smoke?'Somker': 'Non-Smoker'}}</span> I <span class="item">{{vm.user.profile.want_children?'Wants Children': 'Doesn\'t Want Children'}}</span>
                <a href="profile/build" ng-show="vm.user.id===user.id" class="sprite gear-purple"></a>
            </div>
            <div class="user-about">
                <b>About {{vm.user.full_name|limit:15}}: </b>&nbsp;&nbsp; {{vm.user.profile.about_text}}
            </div>
            <div class="profile-nav-container">
                <ul class="profile-nav">
                    <li><a class="botton" disabled href=#><span class="sprite heart-white"></span>
                        {{vm.user.profile.likes_count|ifMany:':i Likes': ':i Like'}}</a>
                    </li>
                    <li><a class="botton" ng-click="vm.visibleTab='photos'" href="javascript:void(0);"><span
                            class="sprite camera"></span> {{vm.user.photos.length|ifMany:':i Photos': ':i Photo'}}</a>
                    </li>
                    <li><a class="botton" ng-click="vm.visibleTab='videos'" href="javascript:void(0);"><span
                            class="sprite camera"></span> {{vm.user.videos.length|ifMany:':i Videos': ':i Video'}}</a>
                    </li>
                    <li><button class="botton" ng-disabled="vm.user.id===user.id" ng-click="vm.user.openChat()"><span
                            class="sprite message"></span> Send Message</button>
                    </li>
                    <li><button class="botton" ng-click="vm.user.requestPhoneNumber()" ng-disabled="vm.user.id===user.id" href=#><span class="sprite wallet"></span> Request Phone Number</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general fixed-bg">
    <div ng-show="vm.visibleTab==='photos'">
        <div class="cf content-title-fix seperator-bg">
            <div class="container">
                <div class="content-title text">
                    Photos
                </div>
            </div>
        </div>
        <div class="container">
           <!-- <a ng-show="vm.user.id===user.id" style="width:200px;margin:10px 0px 0px;" class="btn purple fr"
               href="photos/add">Add More Photos</a>-->

            <div class="cf"></div>
            <div class="notice-empty" ng-show="vm.user.photos.length<1">Sorry! This user doesn't have any photo
                uploaded!
            </div>
            <div ng-show="vm.user.photos.length>6" class="listing-tag">for more result scroll down your mouse</div>
            <div ng-show="vm.user.photos.length>=1&&vm.user.photos.length<=6" class="listing-tag">{{vm.user.photos.length|ifMany:":i photos":":i photo"}} found!</div>
            <div scroll-view max-height="438px" class="list-view-container photoslist">
                <ul class="list-view">
                    <li ng-repeat="photo in vm.user.photos" class="list-item">
                        <div class="photo-thumb">
                            <div class="img-container">
                                <img ng-src="{{photo.url.original}}">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cf"></div>
        </div>
    </div>
    <div ng-show="vm.visibleTab==='videos'">
        <div class="cf content-title-fix seperator-bg">
            <div class="container">
                <div class="content-title text">
                    Videos
                </div>
            </div>
        </div>
        <div class="container">
            <div class="notice-empty" ng-show="vm.user.videos.length<1">Sorry! This user doesn't have any video uploaded!
            </div>
            <div ng-show="vm.user.videos.length>6" class="listing-tag">for more result scroll down your mouse</div>
            <div ng-show="vm.user.videos.length>=1&&vm.user.videos.length<=6" class="listing-tag">{{vm.user.videos.length|ifMany:":i videos":":i video"}} found!</div>
            <div scroll-view max-height="438px" style="margin-top: 20px" class="list-view-container videoroom">
                <ul class="list-view">
                    <li ng-repeat="video in vm.user.videos" class="list-item">
                        <div class="video-thumb">
                            <div class="img-container">
                                <img ng-src="{{video.thumb.url.original}}"/>
                                <a ng-href="{{video.permalink}}" class="sprite play"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cf"></div>
        </div>
    </div>
</div>
