<header class="row header-section general">
    <div class="row top-content">
        <div class="container">
            <div class="cf"></div>
            <div class="slogan-title videoroom">
                Please use the <b>UGLYMONA VIDEO MINGLE</b><br>
                to make a brief <b>STATEMENT ABOUT YOURSELF</b>
                <p>Put Forth Your Best Presentation! We Want You To Achieve True Relationship Success!</p>
            </div>
        </div>
    </div>
    <a class="header-arrow-down"></a>
</header>
<div class="row main-content-section general fixed-bg">
    <div class="cf content-title-fix seperator-bg videoroom">
        <div class="container">
            <div class="content-title videoroom">
                <a class="fl active">Browse Videos</a><a class="fr" href="videos/add">Add Your Video</a>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="videos/add" class="add-video-button btn purple fl">Add Your Video</a>

        <div class="cf"></div>
        <div ng-include="'components/video-list.html'"></div>
        <div class="cf"></div>
    </div>
</div>